.import_component {
    padding: 10px;
}

.input-file{
    display: none!important;
}

.import_component .layout .col-md-4 {
    text-align: right;
}

.block-placehorder {
    padding: 10px 0px;
}

.block-placehorder p{
    color: gray;
}

.block-placehorder p.active{
    color: black!important;
}