.import_component {
    padding: 10px;
}

.input-file{
    display: none!important;
}

.import_component .layout .col-md-4 {
    text-align: right;
}

.block-placeholder {
    padding: 10px 0px;
}

.block-placeholder p{
    color: gray;
}

.block-placeholder p.active{
    color: black!important;
}

.icon{
    padding: 0px 5px;
}