.import_component {
    padding: 20px;
}

.input-file{
    display: none!important;
}

.import_component .layout .col-md-2 {
    text-align: right;
}

.import_component .layout .row {
    display: flex;
    align-items: baseline;
}

.block-placeholder {
    padding: 10px 0px;
}

.block-placeholder p{
    color: gray;
}

.block-placeholder p.active{
    color: black!important;
}

.icon{
    padding: 0px 5px;
}

.modal{
    display: none;
}

.modal.active {
    display: flex!important;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.modal .modal-mark {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .modal-content {
    background-color: #fff;
    position: relative;
    width: 60%;
    max-width: 60%;
    max-height: 90%;
    z-index: 9999;
    padding: 10px;
    border-radius: 5px;
}

.modal .modal-content .row {
    margin: 0;
}

.modal .header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal .footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-align-right{
    text-align: right;
}

.m-l-15{
    margin-left: 15px;
}