setuptools==57.5.0 # https://github.com/tikitu/jsmin/issues/33
alembic==1.10.4
amqp>=2.6.0
angular-gettext-babel==0.3
aniso8601==8.0.0
arrow==1.3.0
asn1crypto==0.23.0
Babel==2.14.0
babel-edtf==1.1.4
bagit==1.7.0
base32-lib==1.0.2
beautifulsoup4==4.9.3
billiard==4.2.0
binaryornot==0.4.4
bleach==6.1.0
blinker==1.7.0
cachelib==0.9.0
cchardet==2.1.7
celery>=5.3.6
charset_normalizer==3.3.2
certifi==2017.11.5
cffi==1.16.0
chardet==3.0.4
citeproc-py==0.5.1
citeproc-py-styles==0.1.3
click-default-group==1.2.4
click>=8.1.7
cookiecutter==1.6.0
counter-robots==2018.6
cryptography==42.0.5
datacite==1.0.1
decorator==4.1.2
dictdiffer==0.9.0
dojson==1.3.2
elasticsearch==6.1.1
elasticsearch-dsl==6.4.0
entrypoints==0.2.3
Flask==2.2.0
Flask-AdminFlask-Admin==1.6.1
Flask-Alembic==2.0.1
Flask-Assets==0.12
Flask-Babel==4.0.0
Flask-BabelEx==0.9.4
Flask-Breadcrumbs==0.5.1
Flask-Caching==2.1.0
Flask-CeleryExt>=0.3.4
Flask-Collect==1.2.2
Flask-Collect-Invenio==1.4.0
Flask-Cors==4.0.0
Flask-KVSession==0.6.2
Flask-KVSession-Invenio==0.6.3
Flask-Limiter==2.0.0
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Menu==1.0.1
Flask-OAuthlib==0.9.5
Flask-Principal==0.4.0
Flask-Resources==1.2.0
Flask-Resources==1.2.0
Flask-RESTful==0.3.8
Flask-Security==3.0.0
Flask-Security-Invenio=3.3.3
flask-shell-ipython==0.5.1
Flask-SQLAlchemy==2.5.1
flask-talisman==0.8.1
Flask-WebpackExt==1.0.2
Flask-WTF==1.2.1
flask-sitemap==0.1.0
Flask-IIIF==1.0.0
Flask-DebugToolbar==0.11.0
fs==2.4.16
future==1.0.0
html5lib==1.0.1
idna==2.6
infinity==1.4
intervals==0.8.0
ipaddress==1.0.19
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.11.0
Jinja2==2.10
jinja2-cli==0.6.0
jinja2-time==0.2.0
jsmin==3.0.1
jsonpatch==1.33
jsonpointer==1.14
jsonref==1.1.0
jsonresolver==0.3.1
jsonschema==4.21.1
jsonpath_ng==1.5.2
jupyter-client==6.1.12
jupyter-core==4.12.0
jsonpath-ng == 1.5.2
-e git+https://github.com/RCOSDP/kombu.git@f204fdf078d5e94393c86693f545e2d011f620f5#egg=kombu
limits==3.11.0
luqum==0.13.0
lxml==5.2.1
Mako==1.0.7
MarkupSafe==2.1.5
marshmallow==3.21.1
marshmallow-utils==0.9.0
maxminddb==1.5.2
maxminddb-geolite2==2018.703
mistune==3.0.2
more-itertools==8.10.0
msgpack==1.0.8
nbconvert==7.16.3
nbformat==5.10.4
node-semver==0.1.1
oauthlib==2.1.0
ordereddict==1.1
pandocfilters==1.4.2
parso==0.1.0
passlib==1.7.4
pexpect==4.3.0
pickleshare==0.7.4
pluggy>=0.11.0<1.0.0
poyo==0.4.1
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
pycparser==2.18
Pygments==2.4.1
PyJWT==2.8.0
#PyPDF2==1.26.0
-e git+https://github.com/RCOSDP/PyPDF2.git@fix/nii#egg=PyPDF2
pyPEG2==2.15.2
python-dateutil==2.9.0.post0
python-editor==1.0.3
python-geoip==1.2
pytz==2024.1
PyYAML==6.0.1
pywebpack==1.2.0
pyzmq==17.0.0
redis==5.0.4
requests==2.18.4
requests-oauthlib==1.1.0
Sickle==0.7.0
simplegeneric==0.8.1
simplejson==3.19.2
simplekv==0.14.1
six==1.16.0
speaklater==1.3
SQLAlchemy==1.4.0
SQLAlchemy-Continuum==1.4.1
SQLAlchemy-Utils==0.38.3
testpath==0.3.1
tornado==4.5.3
traitlets==5.14.3
ua-parser==0.18.0
uritools==4.0.2
urllib3==1.22
validators==0.12.0
vine==5.1.0
wcwidth==0.1.7
marshmallow==3.21.1
marshmallow-utils==0.9.0
watchdog==2.2.1
Wand==0.6.13
webargs==5.5.3
webassets==0.12.1
webencodings==0.5.1
Werkzeug==3.0.2
whichcraft==0.4.1
WTForms==2.3.3
WTForms-Alchemy==0.18.0
WTForms-Components==0.10.5
elementpath==1.0.6
defusedxml==0.5.0
xmlschema==0.9.30
Flask-Plugins==1.6.1
bibtexparser==1.0.1
github3.py==4.0.1
feedgen==0.7.0
boto3==1.9.91
s3fs==0.3.0
#fpdf==1.7.2
-e git+https://github.com/RCOSDP/pyfpdf.git@fix/nii#egg=fpdf
Pillow==10.3.0
Sickle==0.7.0
Sphinx==1.8.4
pytest>=4.2.0
mock==3.0.5
pytest-mock==3.6.1
numpy==1.16.1
xmltodict==0.12.0
zipstream-ng==1.7.1
ftfy==4.4.3
attrs==23.2.0
b2handle==1.1.2
resync==1.0.9
email-validator==1.0.5
iiif-prezi==0.3.0
netaddr==0.8.0
# for sentry
# raven==6.10.0
marshmallow-sqlalchemy==0.23.1
flask-marshmallow==0.14.0
#
# packages-invenio.txt
#
invenio-access==2.0.0
#invenio-accounts==1.1.4
invenio-admin==1.4.0
invenio-administration==2.2.0
invenio-app==1.5.0
invenio-assets==2.0.1
invenio-base==1.4.0
invenio-cache==1.3.0
invenio-celery>=1.3.1
invenio-config==1.0.4
invenio-formatter==2.0.3
invenio-i18n==2.2.1
invenio-jsonschemas==1.1.4
invenio-logging==2.1.0
invenio-marc21==1.0.0a8
invenio-notifications==0.5.0
invenio-oauthclient==1.0.0
invenio-pidrelations==1.0.0a4
invenio-pidstore==1.2.3
invenio-query-parser==0.6.0
invenio-records-files==1.2.1
invenio-records-permissions==0.19.2
invenio-records-resources==5.5.0
invenio-records-ui==1.2.0
invenio-requests==4.1.0
invenio-rest==1.1.2
invenio-search==1.1.0
invenio-search-ui==1.0.0a9
invenio-theme==3.1.0
invenio-users-resources==5.1.1
invenio-vocabularies==3.4.0
invenio-csl-rest==1.0.0a1
#
# requirements-weko-modules.txt
#
-e ../invenio-files-rest
-e ../invenio-s3
-e ../invenio-oaiserver
-e ../invenio-oaiharvester
-e ../invenio-oauth2server
-e ../invenio-records
-e ../invenio-previewer
-e ../invenio-stats
-e ../invenio-records-rest
-e ../invenio-communities
-e ../invenio-mail
-e ../invenio-indexer
-e ../invenio-deposit
-e ../invenio-resourcesyncserver
-e ../invenio-resourcesyncclient
-e ../invenio-queues
-e ../invenio-db
-e ../invenio-accounts
-e ../weko-theme
-e ../weko-itemtypes-ui
-e ../weko-items-ui
-e ../weko-accounts
-e ../weko-admin
-e ../weko-logging
-e ../weko-gridlayout
-e ../weko-groups
-e ../weko-search-ui
-e ../weko-records
-e ../weko-records-ui
-e ../weko-schema-ui
-e ../weko-index-tree
-e ../weko-user-profiles
-e ../weko-deposit
-e ../weko-authors
-e ../weko-handle
-e ../weko-workflow
-e ../weko-indextree-journal
-e ../weko-bulkupdate
-e ../weko-items-autofill
-e ../weko-sitemap
-e ../invenio-iiif
-e ../weko-redis