# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2017-2018 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

notifications:
  email: false

sudo: false

language: python

matrix:
  fast_finish: true
  allow_failures:
    - env: REQUIREMENTS=devel

cache:
  - pip

env:
  - REQUIREMENTS=lowest
  - REQUIREMENTS=release DEPLOY=true
  - REQUIREMENTS=devel

python:
  - "2.7"
  - "3.5"

before_install:
  - "nvm install 6; nvm use 6"
  - "travis_retry pip install --upgrade pip setuptools py"
  - "travis_retry pip install twine wheel coveralls requirements-builder"
  - "requirements-builder -e all --level=min setup.py > .travis-lowest-requirements.txt"
  - "requirements-builder -e all --level=pypi setup.py > .travis-release-requirements.txt"
  - "requirements-builder -e all --level=dev --req requirements-devel.txt setup.py > .travis-devel-requirements.txt"

install:
  - "travis_retry pip install -r .travis-${REQUIREMENTS}-requirements.txt"
  - "travis_retry pip install -e .[all]"

script:
  - "./run-tests.sh"

after_success:
  - coveralls

deploy:
  provider: pypi
  user: inveniosoftware
  password:
    secure: "ri/SzLy16Epkcdc5HDkbFsx12CMmIybwWfQluhHW0/AWvA6YA6oPpIYs73qcgcF8hoNrI8nqoruMsfbtm7fALfYpZYGgpPNer/lYZAOoVZi2KH4nK00ivm27p8lw3HduxBTJOJ7qEx2kp4FhahD7ZPcFo7oe92+yLKSZHEpOwMZQb8EeX1iOJXolWfgUC7N+RYQ4fdN+nRhhWdxuD3gpf7VE/B2fxCjaphMGd/g11SxKNH3mJDZYVk/4WXfTa8Q7CgvwxOEE0PJQeUrTDgQ/VJVu50KL+H7WuJglmyXSjbylDMTg1ra7kzb48owSf4kJnm5DIunCM8wMOxxI2wwMhSZLLFH9DE+UVEMr/wgVjivg3AII8PTzcC4iCy+ze4m4n9+l7BWqtyuw1aDgtJkvAv+Hb2Q6V8n9xAXgACUgWy6C2obAKmod7ILIRUgQ6hr+j0XjNxbv71tdZKdfgZHxiiW3zMJcq0ZvPbof3GVA8kJBE4FkqIILMkiWXqbCLBGAkFeTIA+wJDU6SKA1IvHTiLoNn2LYWiCyGTvS24C/nz6jOJchFgw/pVlRvz+DrhZ6tzanApwh4H9ZFc2Auo+egJ62bm0XxPdkGX0T6KLBlZudRslKxbkrzUVhHb0PXYHjvfmzCmk8UCaGo2o0EafWFtCuG/l4yo5t+dCNzVmQVk8="
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    python: "3.5"
    repo: inveniosoftware/invenio-app
    condition: $DEPLOY = true
