{%- extends "weko_workflow/activity_detail.html" %}

{%- block javascript %}
{{ super() }}
<!-- {% assets "workflow_identifier_grant_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %} -->
{%- endblock javascript %}

{%- block identifier_grant %}
<div class="panel panel-default">
	<div class="panel-heading">
		<span>{{_('Identifier Grant')}}</span>
	</div>
	<div class="panel-body" style="line-height: 1.6;">
		<div class="form-group radio" style="display: inline-grid;">
			{%- for key, val in id_grant_options %}
				<label><input type="radio" name="identifier_grant" value="{{ key }}" {%- if key == temporary_id_grant %}checked{%- endif %}>{{ val }}</label>
			{%- endfor %}
		</div>
	</div>
</div>
<div class="m-top-20">
	<ul class="list-inline text-right" style="margin-bottom: 0;">
		<li><button type="button" class="btn btn-default" id="btn-draft">{{_('Save')}}</button></li>
		<li style="padding-right: 0;"><button type="button" class="btn btn-default" id="btn-finish">{{_('Next')}}</button></li>
	</ul>
</div>
{%- endblock identifier_grant %}
