{% if "." in record['_deposit']['id'] and doi_information_exists %} <!-- TODO IF 1 S -->
    {% if record[doi_information_key]["attribute_name"] == "Identifier Registration" %} <!-- TODO IF 2 S -->
        <div class="row h-100">
            <p class="text-center">
                <button class="btn btn-danger withdraw-button" id="doi_is_reserved" disabled>
                    {{_('DOI is reserved')}}
                </button>
            </p>
        </div>
    {% endif %} <!-- TODO IF 2 E -->
{% else %}
    <div class="form-group radio" style="display: inline-grid;">
        <table>
            <tr>
                {%- set idf_link_data = idf_grant_input[0] %}
                <td height="35">
                    <label>
                        <input type="radio" name="identifier_grant" value="{{ idf_link_data[0] }}" {%- if
                            idf_link_data[0]==temporary_idf_grant %}checked{%- endif %}>
                        {{ idf_link_data[1] }}
                    </label>
                </td>
            </tr>
            {%- if idf_grant_data %} <!-- TODO IF 3 S -->
                {%- set item_id = activity.item_id %}

                {%- if record %} <!-- TODO IF 4 S -->
                    {%- set item_id = '%010d' % record['_deposit']['id']|int %}
                {%- endif %} <!-- TODO IF 4 E -->

                {%- if idf_grant_data["jalc_flag"] %} <!-- TODO IF 5 S -->
                    {%- set idf_grant_labels = idf_grant_input[1] %}
                    {{ render_identifier_link(idf_grant_labels[0], idf_grant_labels[1], idf_grant_labels[2],
                    idf_grant_method, idf_grant_data["jalc_doi"], idf_grant_data["suffix"],item, item_id) }}
                {%- endif %} <!-- TODO IF 5 E -->

                {%- if idf_grant_data["jalc_crossref_flag"] %} <!-- TODO IF 6 S -->
                    {%- set idf_grant_labels = idf_grant_input[2] %}
                    {{ render_identifier_link(idf_grant_labels[0], idf_grant_labels[1], idf_grant_labels[2],
                    idf_grant_method, idf_grant_data["jalc_crossref_doi"], idf_grant_data["suffix"], item, item_id) }}
                {%- endif %} <!-- TODO IF 6 E -->

                {%- if idf_grant_data["jalc_datacite_flag"] %} <!-- TODO IF 7 S -->
                    {%- set idf_grant_labels = idf_grant_input[3] %}
                    {{ render_identifier_link(idf_grant_labels[0], idf_grant_labels[1], idf_grant_labels[2],
                    idf_grant_method, idf_grant_data["jalc_datacite_doi"], idf_grant_data["suffix"], item, item_id) }}
                {%- endif %} <!-- TODO IF 7 E -->

                {%- if idf_grant_data["ndl_jalc_flag"] %} <!-- TODO IF 8 S -->
                    {%- set idf_grant_labels = idf_grant_input[4] %}
                    {{ render_identifier_link(idf_grant_labels[0], idf_grant_labels[1], idf_grant_labels[2],
                    2, idf_grant_data["ndl_jalc_doi"], idf_grant_data["suffix"], item, item_id) }}
                {%- endif %} <!-- TODO IF 8 E -->

                <!-- ! TEST - DOI RESERVATION - START -->
                <tr>
                    <td height="35">
                        <input type="checkbox" name="doi-reservation" id="doi-reservation" checked disabled>
                        <span>{{ _('Register reservation') }}</span>
                    </td>
                    <!-- <td height="35">
                        <label>
                        <input type="date" name="doi-reservation-date" id="doi-reservation-date"">
                        </label>
                    </td> -->
                </tr>
                <!-- ! TEST - DOI RESERVATION - END -->

                <input type="hidden" id="msg_format_doi"
                    value="{{_('Its able to input only haft-width alphanumeric or half-width symbol.')}}" />
                <input type="hidden" id="msg_length_doi" value="{{_('Input value exceeds 255 characters.')}}" />
                <input type="hidden" id="msg_required_doi" value="{{_('DOI has not been entered.')}}" />
                <input type="hidden" id="idf_grant_method" value="{{idf_grant_method}}" />
            {%- endif %} <!-- TODO IF 3 E -->
        </table>
    </div>
{% endif %} <!-- TODO IF 1 E -->