# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015-2019 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

-e git+git://github.com/inveniosoftware/invenio-files-rest.git#egg=invenio-files-rest
-e git+git://github.com/inveniosoftware/invenio-jsonschemas.git#egg=invenio-jsonschemas
-e git+git://github.com/inveniosoftware/invenio-oauth2server.git#egg=invenio-oauth2server
-e git+git://github.com/inveniosoftware/invenio-pidstore.git#egg=invenio-pidstore
-e git+git://github.com/inveniosoftware/invenio-records-files.git#egg=invenio-records-files
-e git+git://github.com/inveniosoftware/invenio-records-rest.git#egg=invenio-records-rest
-e git+git://github.com/inveniosoftware/invenio-records-ui.git#egg=invenio-records-ui
-e git+git://github.com/inveniosoftware/invenio-records.git#egg=invenio-records
-e git+git://github.com/inveniosoftware/invenio-rest.git#egg=invenio-rest
-e git+git://github.com/inveniosoftware/invenio-search-ui.git#egg=invenio-search-ui
-e git+git://github.com/inveniosoftware/invenio-search.git#egg=invenio-search
