{
  "arrowParens": "always",
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore"
}
