.git
*.gitignore

*.mo
*.pyc
*.pyo
*.swp
*.swo
*.~
**.log
*.sh
*.result

.dockerignore
Dockerfile
docker-compose.yml
docker-compose-dev.yml
weko3.srctrlbm
weko3.srctrldb
weko3.srctrlprj
stats.txt.gz
pipdeptree.txt

Procfile*

test
uml
weko-migration
weko-demodata
metrix

**/.tox
**/.eggs
**/.pytest_cache
**/.pytest_cache
**/__pycache__
**/.tx