.git
*.gitignore

*.mo
*.pyc
*.pyo
*.swp
*.swo
*.~
**.log
*.sh

.dockerignore
Dockerfile
docker-compose.yml
docker-compose-dev.yml

Procfile*

test
uml
weko-migration
weko-demodata
metrix

**/.tox
**/.eggs
**/.pytest_cache
