-e git+https://github.com/RCOSDP/invenio-files-rest.git@feature/weko#egg=invenio-files-rest
-e git+https://github.com/RCOSDP/invenio-s3.git@feature/weko#egg=invenio-s3
-e /code/modules/invenio-oaiserver
-e git+https://github.com/RCOSDP/invenio-oaiharvester.git@feature/weko#egg=invenio-oaiharvester
-e git+https://github.com/RCOSDP/invenio-previewer.git@feature/weko#egg=invenio-previewer
-e git+https://github.com/RCOSDP/invenio-stats.git@feature/weko#egg=invenio-stats
-e git+https://github.com/RCOSDP/invenio-records-rest.git@feature/weko#egg=invenio-records-rest
-e git+https://github.com/RCOSDP/invenio-communities.git@feature/weko#egg=invenio-communities
-e git+https://github.com/RCOSDP/invenio-mail.git@feature/weko#egg=invenio-mail
-e /code/modules/weko-theme
-e /code/modules/weko-itemtypes-ui
-e /code/modules/weko-items-ui
-e /code/modules/weko-accounts
-e /code/modules/weko-admin
-e /code/modules/weko-logging
-e /code/modules/weko-groups
-e /code/modules/weko-search-ui
-e /code/modules/weko-records
-e /code/modules/weko-records-ui
-e /code/modules/weko-schema-ui
-e /code/modules/weko-index-tree
-e /code/modules/weko-user-profiles
-e /code/modules/weko-deposit
-e /code/modules/weko-authors
-e /code/modules/weko-plugins
-e /code/modules/weko-workflow
