alabaster==0.7.13
alembic==0.9.6
amqp==2.6.0
angular-gettext-babel==0.3
aniso8601==8.0.0
arrow==0.12.1
asn1crypto==0.23.0
atomicwrites==1.4.1
attrs==17.4.0
b2handle==1.1.2
Babel==2.5.1
bagit==1.7.0
beautifulsoup4==4.9.3
bibtexparser==1.0.1
billiard==3.6.3.0
binaryornot==0.4.4
bleach==3.1.0
blinker==1.4
boto3==1.9.83
botocore==1.12.209
cachelib==0.1
captcha==0.4
cachetools==4.2.4
cchardet==2.1.1
celery==4.4.4
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
citeproc-py==0.5.1
citeproc-py-styles==0.1.2
click==6.7
cookiecutter==1.6.0
counter-robots==2018.6
cryptography==2.1.4
datacite==1.0.1
DateTime==4.9
decorator==4.1.2
defusedxml==0.5.0
dictdiffer==0.7.0
distlib==0.3.6
dnspython==2.2.1
docutils==0.18.1
dojson==1.3.2
elasticsearch==6.1.1
elasticsearch-dsl==6.4.0
elementpath==1.0.6
email-validator==1.0.5
entrypoints==0.2.3
feedgen==0.7.0
filelock==3.4.1
Flask==1.1.0
Flask-Admin==1.5.3
Flask-Alembic==2.0.1
Flask-Assets==0.12
Flask-BabelEx==0.9.4
Flask-Breadcrumbs==0.5.0
Flask-Caching==1.10.1
Flask-CeleryExt==0.3.4
Flask-Collect==1.2.2
Flask-Cors==3.0.3
Flask-DebugToolbar==0.13.1
Flask-IIIF==0.6.1
Flask-KVSession==0.6.2
Flask-Limiter==1.1.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-Menu==0.6.0
-e git+https://github.com/RCOSDP/flask-oauthlib.git@add-redissentinel#egg=Flask_OAuthlib
Flask-Plugins==1.6.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.8
Flask-Security==3.0.0
flask-shell-ipython==0.4.1
Flask-Sitemap==0.4.0
Flask-SQLAlchemy==2.3.2
flask-talisman==0.4.1
Flask-WTF==0.14.3
-e git+https://github.com/RCOSDP/pyfpdf.git@f9b032148283d535cabc7789858081c80de36fef#egg=fpdf
frozendict==2.3.8
fs==0.5.4
ftfy==4.4.3
future==0.16.0
github3.py==1.1.0
html5lib==1.0.1
idna==2.6
iiif-prezi==0.3.0
imagesize==1.4.1
importlib-metadata==4.8.3
importlib-resources==5.4.0
infinity==1.4
intervals==0.8.0
invenio-access==1.1.0
-e ../invenio-accounts
invenio-admin==1.1.2
invenio-app==1.1.0
invenio-assets==1.0.0
invenio-base==1.0.2
invenio-cache==1.0.0
invenio-celery==1.1.3
-e ../invenio-communities
invenio-config==1.0.0
invenio-csl-rest==1.0.0a1
-e ../invenio-db
-e ../invenio-deposit
-e ../invenio-files-rest
invenio-formatter==1.0.0b3
invenio-i18n==1.0.0
-e ../invenio-iiif
-e ../invenio-indexer
invenio-jsonschemas==1.0.0
invenio-logging==1.0.0b3
-e ../invenio-mail
invenio-marc21==1.0.0a8
-e ../invenio-oaiharvester
-e ../invenio-oaiserver
-e ../invenio-oauth2server
invenio-oauthclient==1.0.0
invenio-pidrelations==1.0.0a4
invenio-pidstore==1.0.0
-e ../invenio-previewer
invenio-query-parser==0.6.0
-e ../invenio-queues
-e ../invenio-records
invenio-records-files==1.0.0a10
-e ../invenio-records-rest
invenio-records-ui==1.0.0
-e ../invenio-resourcesyncclient
-e ../invenio-resourcesyncserver
invenio-rest==1.1.2
-e ../invenio-s3
-e git+https://github.com/RCOSDP/invenio-search.git@cff9744c5dc651893a9c51672c5b8da9adc21e16#egg=invenio_search
-e git+https://github.com/RCOSDP/invenio-search-ui.git@74bd3b2990ff27b39e01b6b31be9a0b5fda3dd0f#egg=invenio_search_ui
-e ../invenio-stats
invenio-theme==1.0.0b4
ipaddress==1.0.19
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.10.1
jinja2-cli==0.6.0
jinja2-time==0.2.0
jmespath==0.10.0
jsmin==2.2.2
jsonpatch==1.21
jsonpath-ng==1.5.2
jsonpointer==1.14
jsonref==0.1
jsonresolver==0.2.1
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-core==4.4.0
-e git+https://github.com/RCOSDP/kombu.git@f204fdf078d5e94393c86693f545e2d011f620f5#egg=kombu
limits==1.2.1
lxml==4.1.1
Mako==1.0.7
MarkupSafe==1.1.1
marshmallow==2.20.1
marshmallow-sqlalchemy==0.23.1
maxminddb==1.5.2
maxminddb-geolite2==2017.803
mistune==0.8.3
more-itertools==8.10.0
mock==5.0.2
moto==3.1.2
msgpack==0.6.2
nbconvert==5.3.1
nbformat==4.4.0
netaddr==0.8.0
node-semver==0.1.1
numpy==1.16.1
oauthlib==2.1.0
ordereddict==1.1
packaging==21.3
pandocfilters==1.4.2
parso==0.1.0
passlib==1.7.1
pbr==5.11.1
pexpect==4.3.0
pickleshare==0.7.4
platformdirs==2.4.0
pluggy==0.13.1
ply==3.11
poyo==0.4.1
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
py==1.11.0
py-ldnlib==0.1.3
pycparser==2.18
Pygments==2.2.0
PyJWT==1.5.3
PyLD==2.0.3
pyparsing==3.1.0
-e git+https://github.com/RCOSDP/PyPDF2.git@fefc684a3a74aff6f99e5dff24f9b4dd1c95169d#egg=PyPDF2
pyPEG2==2.15.2
pytest>=4.2.0
pytest-mock==3.6.1
pytest-invenio==1.2.1
python-dateutil==2.8.2
python-editor==1.0.3
python-geoip==1.2
pytz==2017.3
pyzmq==17.0.0
rdflib==5.0.0
rdflib-jsonld==0.6.1
redis==2.10.6
requests==2.18.4
requests-oauthlib==1.1.0
rocrate==0.6.0
resync==2.0.1
s3fs==0.1.6
s3transfer==0.1.13
selenium
Pillow==8.1.2
Sickle==0.6.4
simplegeneric==0.8.1
simplejson==3.12.0
simplekv==0.11.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
speaklater==1.3
Sphinx==1.8.4
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
SQLAlchemy==1.2.19
SQLAlchemy-Continuum==1.3.6
SQLAlchemy-Utils==0.35.0
stevedore==3.5.2
sword3common==0.1.1
testpath==0.3.1
tika==2.6.0
toml==0.10.2
tornado==4.5.3
tox==3.28.0
traitlets==4.3.2
typing_extensions==4.1.1
ua-parser==0.7.3
uritemplate==4.1.1
uritools==2.1.0
urllib3==1.22
uWSGI==2.0.21
uwsgitop==0.11
validators==0.12.0
vine==1.3.0
virtualenv==20.17.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
Wand==0.6.1
wcwidth==0.1.7
webargs==5.5.2
webassets==0.12.1
webencodings==0.5.1
-e ../weko-accounts
-e ../weko-admin
-e ../weko-authors
-e ../weko-bulkupdate
-e ../weko-deposit
-e ../weko-gridlayout
-e ../weko-groups
-e ../weko-handle
-e ../weko-index-tree
-e ../weko-indextree-journal
-e ../weko-items-autofill
-e ../weko-items-ui
-e ../weko-itemtypes-ui
-e ../weko-logging
-e ../weko-records
-e ../weko-records-ui
-e ../weko-redis
-e ../weko-schema-ui
-e ../weko-search-ui
-e ../weko-sitemap
-e ../weko-swordserver
-e ../weko-theme
-e ../weko-user-profiles
-e ../weko-workflow
Werkzeug==0.15.2
whichcraft==0.4.1
WTForms==2.1
WTForms-Alchemy==0.16.5
WTForms-Components==0.10.3
xmlschema==0.9.30
xmltodict==0.12.0
zipp==3.6.0
zope.interface==5.5.2
