# sp15,16
-e git+https://github.com/RCOSDP/invenio-oaiharvester.git@a23651118c117f9cc4e1a3d82e59f82a9c0a3a1c#egg=invenio-oaiharvester
-e git+https://github.com/RCOSDP/invenio-previewer.git@475ef25748cbea1cc3d72ec9b5672b12bd6bb3d7#egg=invenio-previewer
-e git+https://github.com/RCOSDP/invenio-stats.git@b68071ee9913f0cc86c9f694ae50898d0483a7de#egg=invenio-stats
-e git+https://github.com/RCOSDP/invenio-records-rest.git@cb74693acee3e83e5e71d18391bcfa5eec49b781#egg=invenio-records-rest
-e git+https://github.com/RCOSDP/invenio-communities.git@3458d9c3bc22dc630c9b796bd36f913b2eafdb11#egg=invenio-communities
-e git+https://github.com/RCOSDP/invenio-mail.git@8eaccc42956af75627a0ac82f21a9abf66ac1a5d#egg=invenio-mail
-e git+https://github.com/RCOSDP/invenio-deposit.git@5d622ad5e1a1016f890389f17ea17cd5f524caa6#egg=invenio-deposit
-e git+https://github.com/RCOSDP/invenio-files-rest.git@72c849cccd868d26697df0a6c780adb180f6e610#egg=invenio_files_rest
-e git+https://github.com/RCOSDP/invenio-s3.git@edc776d322d15cb34ef965895ab3d26a9f2bbc69#egg=invenio_s3
-e /code/modules/weko-theme
-e /code/modules/weko-itemtypes-ui
-e /code/modules/weko-items-ui
-e /code/modules/weko-accounts
-e /code/modules/weko-admin
-e /code/modules/weko-logging
-e /code/modules/weko-gridlayout
-e /code/modules/weko-groups
-e /code/modules/weko-search-ui
-e /code/modules/weko-records
-e /code/modules/weko-records-ui
-e /code/modules/weko-schema-ui
-e /code/modules/weko-index-tree
-e /code/modules/weko-user-profiles
-e /code/modules/weko-deposit
-e /code/modules/weko-authors
-e /code/modules/weko-workflow
-e /code/modules/weko-indextree-journal
-e /code/modules/weko-bulkupdate
-e /code/modules/weko-items-autofill
-e /code/modules/weko-sitemap
