#state-enable-improveui {
  .panel-default {
    border-color: unset;

    > .panel-heading {
      border-bottom: none;
    }
  }

  .panel {
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: unset;
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
  }

  #main_contents {
    .panel {
      background-color: unset;
      border-color: currentcolor;
    }
    .active > a {
      background-color: unset;
    }
    .panel-heading {
      background-color: unset;
    }
  }

  .pagination {
    > .active {
      > a,
      > span,
      > a:hover,
      > span:hover,
      > a:focus,
      > span:focus {
        background-color: unset;
      }
    }
  }

  tree-internal .rootless {
    margin: 0;
  }

  tree-internal ul .value-container {
    font-size: unset;
  }

  .node-menu .node-menu-content,
  tree-internal .tree {
    font-family: initial;
  }

  tree-internal .tree .node-value {
    color: unset;
  }

  #search_res {
    > div:nth-child(n + 2) {
      margin-top: 1rem;
    }
  }
}
