@color-white: #ffffff;

@color-slate-00: #f8fafc;
@color-slate-10: #0f172a;

@color-gray-00: #f9fafb;
@color-gray-05: #d1d5db;
@color-gray-10: #111827;
@color-gray-00-hover: darken(@color-gray-00, 10%);

@color-red-00: #fef2f2;
@color-red-10: #b91c1c;
@color-red-10-hover: darken(@color-red-10, 10%);

@color-blue-00: #eff6ff;
@color-blue-10: #1e40af;
@color-blue-10-hover: darken(@color-blue-10, 10%);

@color-green-00: #f0fdf4;
@color-green-10: #166534;
@color-green-10-hover: darken(@color-green-10, 10%);

@color-cyan-00: #ecfeff;
@color-cyan-10: #155e75;
@color-cyan-10-hover: darken(@color-cyan-10, 10%);

@color-purple-00: #faf5ff;
@color-purple-10: #6b21a8;
@color-purple-10-hover: darken(@color-purple-10, 10%);

@color-monochrome-50: #f9fafb;
@color-monochrome-100: #f3f4f6;
@color-monochrome-200: #e5e7eb;
@color-monochrome-300: #d1d5db;
@color-monochrome-400: #9ca3af;
@color-monochrome-500: #6b7280;
@color-monochrome-600: #4b5563;
@color-monochrome-700: #374151;
@color-monochrome-800: #1f2937;
@color-monochrome-900: #111827;

@base-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
  rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
@focus-box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, #1e40af 0px 0px 0px 4px,
  rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
