html {
    background-color: white;
    max-width: 1500px;
    margin: 0 auto;
    padding: 1%;
}

body {
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    font-family: 'Roboto',sans-serif;
    color: #555555;
    font-size: 14px;
}

pre {
    background-color: #efefef;
    padding: 5px;
    border: 1px solid #cdcdcd;
}

a,a:visited,a:hover {
    color: #23527c;
}

a {
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 15px;
}


a.site-title {
    text-decoration: none;
}

a.site-title:hover {
    text-decoration: underline;
}

div.header-bar {
    background-color: #d0e1f2;
    border-bottom: 1px solid #cdcdcd;
    font-weight: bold;
    padding: 3px;
    margin-bottom: 10px;
}

h1.page-title {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 15px;
}

tr.column-header-row {
    background-color: #d0e1f2;
}

table, tr, th, td {
    color: #555555;
}

table.invisible-layout-table tr, table.invisible-layout-table td {
    border: none;
}

td.field-name {
    text-align: right;
    white-space: nowrap;
    font-weight: bold;
}

.view-column {
    white-space: nowrap;
}

div#footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #cdcdcd;
    font-size: x-small;
    text-align: right;
}