<fieldset ng-disabled="form.readonly"
          ng-init="collapsed = form.required !== true">
    <div class="panel panel-default deposit-panel">
        <div class="help-block" ng-if="form.description"
            ng-bind-html="form.description"></div>
            <div sf-array="form" ng-model="$$value$$" ng-model-options="form.ngModelOptions">
                <div ng-model="modelArray" ui-sortable="form.sortOptions">
                    <div ng-repeat="item in modelArray track by $index" class="row">
                        
                        <sf-decorator ng-init="arrayIndex = $index" form="copyWithIndex($index)" ng-class="{'col-sm-11': item.creatorNames, 'col-sm-12': !item.creatorNames}">
                        </sf-decorator>                
                        
                    </div>
                </div>
                
            </div>
    </div>
</fieldset>
