---
import Layout from "../layouts/Layout.astro";
---

<Layout title="MIBY | ABOUT" pageIndex="about" catch="未病データベースタイトル＆キャッチコピー">
  <main class="single">
    <div
      class="bg-MainBg bg-no-repeat bg-center bg-cover pt-[180px] pb-16 mt-[-180px] mb-5 text-center text-white"
    >
      <h1 class="mt-16 mb-2.5 font-black text-5xl">ABOUT</h1>
      <p class="text-sm pb-14">MIBYO - 未病データベースについて -</p>
    </div>
    <div class="breadcrumb flex px-5">
      <a class="text-miby-link-blue" href="/"><span class="font-medium underline">TOP</span></a>
      <p class="text-miby-dark-gray">ABOUT</p>
    </div>
    <div class="max-w-[598px] mx-auto mt-4">
      <h2 class="text-center font-bold text-xl text-miby-black mb-8">
        未病に関するデータを取り扱います
      </h2>
      <p class="text-justify text-miby-black leading-7 px-2.5 md:px-0 pb-10">
        未病データベースに関する説明が入ります。未病データベースに関する説明が入ります。未病データベースに関する説明が入ります。未病データベースに関する説明が入ります。未病データベースに関する説明が入ります。未病データベースに関する説明が入ります。未病データベースに関する説明が入ります。未病データベースに関する説明が入ります。未病データベースに関する説明が入ります。未病データベースに関する説明が入ります。未病データベースに関する説明が入ります。未病データベースに関する説明が入ります。未病データベースに関する説明が入ります。未病データベースに関する説明が入ります。
      </p>
    </div>
  </main>
</Layout>
