---
import Layout from "../layouts/Layout.astro";
import BtnGotoTop from "/images/btn/btn-gototop.svg";
import BtnGotoTopSp from "/images/btn/btn-gototop_sp.svg";
---

<Layout title="MIBY | CONTACT" pageIndex="contact" catch="未病データベースタイトル＆キャッチコピー">
  <main class="single">
    <div
      class="bg-MainBg bg-no-repeat bg-center bg-cover pt-[180px] pb-16 mt-[-180px] mb-5 text-center text-white"
    >
      <h1 class="mt-16 mb-2.5 font-black text-5xl">CONTACT</h1>
      <p class="text-sm pb-14">お問い合わせ</p>
    </div>
    <div class="breadcrumb flex px-5">
      <a class="text-miby-link-blue" href="/"><span class="font-medium underline">TOP</span></a>
      <p class="text-miby-dark-gray">CONTACT</p>
    </div>
    <div class="px-2.5">
      <div class="max-w-[748px] mx-auto mt-4 border-2 border-miby-link-blue rounded">
        <div class="bg-miby-link-blue py-3 pl-5">
          <p class="text-white text-center font-bold">お問い合わせ</p>
        </div>
        <div class="bg-miby-bg-gray py-10 px-5">
          <form class="max-w-[500px] mx-auto">
            <div class="mb-2.5">
              <label class="text-sm text-miby-black font-medium" for="form-name"
                >お名前<span class="text-miby-form-red">*</span></label
              >
              <input
                id="form-name"
                type="text"
                class="mt-2.5 mb-1 py-2.5 px-5 rounded w-full placeholder:text-miby-thin-gray h-7 border border-miby-thin-gray"
                placeholder="山田太郎"
              />
              <p class="text-xs text-miby-form-red">※お名前をご記入ください</p>
            </div>
            <div class="mb-2.5">
              <label class="text-sm text-miby-black font-medium" for="form-kana"
                >フリガナ<span class="text-miby-form-red">*</span></label
              >
              <input
                id="form-kana"
                type="text"
                class="mt-2.5 mb-1 py-2.5 px-5 rounded w-full placeholder:text-miby-thin-gray h-7 border border-miby-thin-gray"
                placeholder="ヤマダタロウ"
              />
              <p class="text-xs text-miby-form-red">※フリガナをご記入ください</p>
            </div>
            <div class="mb-2.5">
              <label class="text-sm text-miby-black font-medium" for="form-mail"
                >メールアドレス<span class="text-miby-form-red">*</span></label
              >
              <input
                id="form-mail"
                type="text"
                class="mt-2.5 mb-1 py-2.5 px-5 rounded w-full placeholder:text-miby-thin-gray h-7 border border-miby-thin-gray"
                placeholder="sample@example.com"
              />
              <p class="text-xs text-miby-form-red">※メールアドレスをご記入ください</p>
            </div>
            <div class="mb-2.5">
              <label class="text-sm text-miby-black font-medium" for="textarea"
                >お問い合わせ内容<span class="text-miby-form-red">*</span></label
              >
              <textarea
                id="textarea"
                class="mt-2.5 mb-1 w-full h-44 py-2.5 px-5 rounded placeholder:text-miby-thin-gray border border-miby-thin-gray focus:ring focus:ring-miby-orange focus:border-none focus:outline-none"
                name="contact-detail"
                placeholder="制限公開されているデータを見るためにはどうすれば良いでしょうか。"
              ></textarea>
              <p class="text-xs text-miby-form-red">※お問い合わせ内容をご記入ください</p>
            </div>

            <button
              id="contactSubmit"
              class="text-white text-sm text-center bg-miby-orange border border-miby-orange font-medium py-1.5 px-5 mx-auto block min-w-[96px] rounded"
            >
              確認
            </button>
          </form>
        </div>
      </div>
    </div>
    <button id="page-top" class="block lg:hidden w-10 h-10 z-40 fixed right-5 bottom-2.5"><img src={BtnGotoTopSp} alt=""></button>
  </main>
</Layout>

<script is:inline>
document.addEventListener('DOMContentLoaded', () => {
  // pageTop
  let pagetopBtn = document.getElementById("page-top");
  pagetopBtn?.addEventListener("click", (e) => {
    window.scrollTo({top: 0, behavior: 'smooth'})
    return false;
  });
})
</script>

<style scoped lang="scss">
  input[type="text"],
  textarea {
    @apply py-2.5 px-5 rounded placeholder:text-miby-thin-gray border border-miby-thin-gray focus:ring focus:ring-miby-orange focus:border-none focus:outline-none;
  }
</style>