---
import Layout from "../layouts/Layout.astro";
import Image1 from "/images/help/image1.jpg";
import Image2 from "/images/help/image2.jpg";
import BtnGotoTopSp from "/images/btn/btn-gototop_sp.svg";
---

<Layout title="MIBY | HELP" pageIndex="help" catch="未病データベースタイトル＆キャッチコピー">
  <main class="">
    <div
      class="bg-MainBg bg-no-repeat bg-center bg-cover pt-[180px] pb-16 mt-[-180px] mb-5 text-center text-white"
    >
      <h1 class="mt-16 mb-2.5 font-black text-5xl">HELP</h1>
      <p class="text-sm pb-14">本サイトの使い方</p>
    </div>
    <div class="breadcrumb flex px-5">
      <a class="text-miby-link-blue" href="/"><span class="font-medium underline">TOP</span></a>
      <p class="text-miby-dark-gray">HELP</p>
    </div>
    <div class="max-w-[748px] mx-auto mt-4">
      <div class="bg-miby-light-blue py-3 pl-5">
        <p class="text-white font-bold">HELP</p>
      </div>
      <div class="bg-miby-bg-gray py-10 px-5">
        <dl class="help-item">
          <dt class="help-title">大見出しが入ります。大見出しが入ります。</dt>
          <dd class="help-content">
            <div class="help-index">
              <p class="help-subtitle">
                小見出しが入ります。小見出しが入ります。小見出しが入ります。
              </p>
              <p class="help-text">
                本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
              </p>
            </div>
            <div class="help-index">
              <p class="help-subtitle">
                小見出しが入ります。小見出しが入ります。小見出しが入ります。
              </p>
              <p class="help-text">
                本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
              </p>
            </div>
          </dd>
        </dl>
        <dl class="help-item">
          <dt class="help-title">大見出しが入ります。大見出しが入ります。</dt>
          <dd class="help-content">
            <ul class="help-desc">
              <li><a class="underline text-miby-blue">本文が入ります。本文が入ります。</a></li>
              <li><a class="underline text-miby-blue">本文が入ります。本文が入ります。</a></li>
              <li>
                <a class="underline text-miby-blue"
                  >本文が入ります。本文が入ります。本文が入ります。</a
                >
              </li>
              <li><a class="underline text-miby-blue">本文が入ります。本文が入ります。</a></li>
            </ul>
            <p class="help-text">
              本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
            </p>
            <p class="help-note">
              ※注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。
              <br />
              ※注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。注釈が入ります。
            </p>
          </dd>
        </dl>
        <dl class="help-item">
          <dt class="help-title">大見出しが入ります。大見出しが入ります。</dt>
          <dd class="help-content">
            <div class="help-index">
              <p class="help-subtitle">
                小見出しが入ります。小見出しが入ります。小見出しが入ります。
              </p>
              <p class="help-text">
                本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
              </p>
            </div>
            <div class="help-images">
              <div class="help-images__wrap">
                <div class="help-image">
                  <img src={Image1} alt="画像" />
                </div>
                <div class="help-image">
                  <img src={Image2} alt="画像" />
                </div>
              </div>
            </div>
            <div class="help-index">
              <p class="help-subtitle">
                小見出しが入ります。小見出しが入ります。小見出しが入ります。
              </p>
              <p class="help-text">
                本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
              </p>
            </div>
          </dd>
        </dl>
      </div>
    </div>
    <button id="page-top" class="block lg:hidden w-10 h-10 z-40 fixed right-5 bottom-2.5"><img src={BtnGotoTopSp} alt=""></button>
  </main>
</Layout>

<script is:inline>
document.addEventListener('DOMContentLoaded', () => {
  // pageTop
  let pagetopBtn = document.getElementById("page-top");
  pagetopBtn?.addEventListener("click", (e) => {
    window.scrollTo({top: 0, behavior: 'smooth'})
    return false;
  });
})
</script>

<style scoped lang="scss">
  .help {
    &-item {
      @apply mb-12;
    }

    &-title {
      @apply text-lg text-miby-black font-bold mb-2.5;
    }

    &-subtitle {
      @apply font-medium mb-1 text-base;

      &::before {
        @apply text-miby-black h-px w-5 bg-miby-black inline-block align-super mr-1;
        content: "";
      }
    }

    &-index {
      @apply my-3.5;
    }

    &-text {
      @apply text-sm text-miby-black;

      .help-index & {
        margin-left: 27px;
      }
    }

    &-images {
      @apply w-full overflow-x-auto scroll-smooth;
      margin-left: 27px;
      max-width: 683px;

      &__wrap {
        @apply flex gap-3.5 pb-10 snap-x;
      }
    }

    &-image {
      @apply w-56;
    }

    &-desc {
      margin-bottom: 20px;

      li {
        &::before {
          content: "・";
          display: inline;
          width: 20px;
        }
      }
    }

    &-note {
      @apply mt-2.5 text-miby-dark-gray text-xs;
    }
  }
</style>
