---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.vue";
import News from "../components/News.vue";
import LatestInfo from "../components/LatestInfo.vue";
import KeywordRank from "../components/KeywordRank.vue";
import BtnGotoTopSp from "/images/btn/btn-gototop_sp.svg";


const res = await fetch(`https://ams-dev.ir.rcos.nii.ac.jp/api/v1.0/search?` + new URLSearchParams({
  size: '5'
  }));
const latestItems = await res.json()
const allItems = latestItems.hits.hits

---

<Layout title="MIBY" pageIndex="top" catch="未病データベースタイトル＆キャッチコピー">
  <Form client:only="vue" />
  <main class="max-w-[1024px] mx-auto px-2.5">
    <div class="w-full">
      <div class="mb-5">
        <News client:only="vue" />
      </div>
      <div class="mb-5">
        <div class="bg-miby-light-blue w-full">
          <p class="text-white leading-[43px] pl-5 icons icon-info font-bold">最新情報</p>
        </div>
        {allItems.map((item) => (
          <LatestInfo item={item} client:only="vue" />
        ))}
      </div>
      <div class="mb-5">
        <KeywordRank client:only="vue" />
      </div>
    </div>
    <button id="page-top" class="block lg:hidden w-10 h-10 z-40 fixed right-5 bottom-2.5"><img src={BtnGotoTopSp} alt=""></button>
  </main>
</Layout>
