# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015-2018 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.


notifications:
  email: false

dist: xenial
language: python

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.pyenv

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

services:
  - postgresql
  - redis

addons:
   postgresql: "9.4"

env:
  - REQUIREMENTS=lowest SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/travis"
  - REQUIREMENTS=release SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/travis"
  - REQUIREMENTS=devel SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/travis"

python:
  - "3.6"
  - "3.7"

matrix:
  fast_finish: true
  allow_failures:
    - env: REQUIREMENTS=devel SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/travis"

before_install:
  - "pip uninstall -y six"
  - "nvm install 6; nvm use 6"
  - "travis_retry pip install --upgrade pip setuptools py"
  - "travis_retry pip install wheel coveralls requirements-builder"
  - "requirements-builder --level=min setup.py > .travis-lowest-requirements.txt"
  - "requirements-builder --level=pypi setup.py > .travis-release-requirements.txt"
  - "requirements-builder --level=dev --req requirements-devel.txt setup.py > .travis-devel-requirements.txt"

install:
  - "travis_retry pip install -r .travis-${REQUIREMENTS}-requirements.txt"
  - "travis_retry pip install -e .[all]"

script:
  - "./run-tests.sh"

after_success:
  - coveralls

deploy:
  provider: pypi
  user: inveniosoftware
  password:
    secure: "IZyKS9cx+cbZjgSK7RLtf9ZCs2ahJ9Cul8JNkaG0XlA/iNSAOGH2vaOQxHUZO6ZKuiybiGAgyboX6mHHXVLDBEQsme00y0dIBHAuNa/K3Agmg6SWn/De7v3xALblZGSdCJBW+ei7IX53H6hPj2D3ep/PwkgOE9RsOO2LVA/NFQsTMZYgxiGbsdjsTBF6hx2ALfQzy0dFLf6b0U3ycYz6MDu45OsWYQxr/DHyXeQH7hSF6dd5WBcUymrbw4K69H3pvvxBv3p6Q9q/3vr38c09EjDKwHjzAsWyv/EZlznyu7E6+LxytBSovq8QlG+k2aOoCdGfwhlYsjb9JycwEj7M/JKdrF+/6vgq/oOHC0hsNdSJCWYD+jCAyFvyksfzA1pDaFzq06t4SHa2JS3B6izVp3oI4jQMYDo0+IAastBJdUzeVKYcQsLFmc/Wo2ZdRdDSYLU1413lM3QyLBlbMM5R/MmDNOwEIUaCU7L9a+3gw0mfKaqv+IHAXUnKDmPrh2vh+vyCrYMITGjpaIl4iWS1HS/+aPW4jcBc+58Au7BeYVRYIpbCKvm9UPTyjKJePOFY1ZNVj7UgiB0yHNPye5RqlcVZ+ClrxUyICe7xxOcEd4HiUttvkUfJm0qv0mRHM+IFEF3svclO2fuxoZrUNJNtB+1uFXohELEXTOz1hyOMsrE="
  distributions: "compile_catalog sdist bdist_wheel"
  on:
    tags: true
    python: "3.6"
    condition: $REQUIREMENTS = release
