<div ng-show="(filesVM.files|filter:{is_thumbnail: '!true'}).length > 0" class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-6">
        <p ng-show="(filesVM.files|filter:{is_thumbnail: '!true'}).length > 0" class="text-muted">
        </p>
      </div>
      <div class="col-sm-offset-2 col-sm-4">
        <div class="form-inline text-right">
          <div class="form-group">
            <span class="text-muted" ng-bind="(filesVM.files | filter:fileSearch | filter:{is_thumbnail: '!true'}).length"></span>
            <span class="text-muted"> files </span>
            <input type="text" class="input-sm form-control" placeholder="Search the files" ng-model="fileSearch" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th class="text-center">Progress</th>
      <th class="text-center">Actions</th>
    </tr>
    <tr class="sel-file" ng-repeat="f in filesVM.files | filter:fileSearch | filter:{is_thumbnail: '!true', hide: '!true'} | orderBy: 'position'">
      <td ng-style="{color: f.replace_version_id?'rgb(167 64 97)':'initial'}">
        {{ f.key.split('?replace_version_id=')[0] | limitTo:40 }} <span ng-show="f.key.split('?replace_version_id=')[0].length > 40">...</span>
      </td>
      <td>{{ f.size | bytesToHumanReadable }}</td>
      <td class="text-center">
        <span ng-show="f.progress < 100 && !f.errored">{{ f.progress }} %</span>
        <span ng-show="f.processing && !f.errored">Processing...</span>
        <span ng-show="f.multipart && f.resuming">Resuming...</span>
        <span ng-show="f.errored" class="text-danger">Error</span>
        <span ng-show="f.errored && f.multipart" class="text-danger">
          <input type="file" id="resume_file" class="ng-hide" ngf-select="hookUploadReumeFiles($files)"></input>
          <button class="btn btn-sm btn-primary" ng-click="hookAddReumeFiles()">Resume</button>
        </span>
        <span ng-show="f.completed" class="text-success">✓</span>
      </td>
      <td ng-show="f" class="text-center">
        <a ng-click="onRemoveFileContent(f)"><i class="fa fa-trash" aria-hidden="true"></i></a>
        <span ng-if="isEditMode && f.completed" class="text-success" style="margin-left: 10px;">
          <input type="file" id="file_replace_{{ f.version_id }}" style="display: None;" ngf-select="onReplaceFileContentChange($files, f.version_id)" />
          <button class="btn btn-default" ng-click="onBtnReplaceFileContentClick(f.version_id)">Replace</button>
        </span>
      </td>
    </tr>
    <tr ng-show="(filesVM.files | filter:fileSearch).length == 0">
      <td colspan="4" class="text-center text-muted"> No results.</td>
    </tr>
  </table>
  <div class="panel-footer">
    <div class="text-right">
      <span class="text-muted" ng-show="filesVM.invenioFilesBusy && filesVM.getCompleted().length < (filesVM.files|filter:{is_thumbnail: '!true'}).length">
        Loading ..
      </span>
      <button class="btn btn-sm btn-default" type="submit" ng-show="filesVM.invenioFilesBusy" ng-click="filesVM.cancel()">Cancel</button>
      <button class="btn btn-sm btn-primary" type="submit" ng-disabled="filesVM.invenioFilesBusy || filesVM.getCompleted().length === filesVM.files.length" ng-click="onUploadFileContents()">Start upload</button>
    </div>
  </div>
</div>
