.checkbox {
  display: none;
}

.checkbox + .checkbox-icon {
  position: relative;
  vertical-align: middle;
}

.checkbox + .checkbox-icon:before {
  content: "\f372";
  font-family: "Ionicons";
  color: #ccc;
  font-size: 22px;
}

.checkbox:checked + .checkbox-icon:before {
  content: "\f374";
  color: #17bcdf;
}