.width_100{
  width:100% !important;
}
.width_20{
  width:20% !important;
}
.width_50{
  width:50% !important;
}
.width_15{
  width:15% !important;
}
.btnMiddle{
   text-align:center !important;
   vertical-align: middle !important;
}
.width_45{
  width:45% !important;
}
.width_10{
  width:10% !important;
}
.height_70{
   height:70% !important;
}
