elasticsearch_dsl<3.0.0,>=2.0.0
jsonpatch>=1.21
jsonschema>=2.6.0
Flask-Login>=0.4.1
invenio-db>=1.0.0b9
invenio-rest>=1.0.0b1
invenio-indexer>=1.0.0b1
invenio-pidstore>=1.0.0b2
invenio-records>=1.0.0b4
invenio-records-rest==1.0.0b3
invenio-search>=1.0.0b4
