.rightFoward_font{
    font-size: 50px;
    color: silver;
    top:40px !important;
}
.align_right{
  text-align: right;
}

.style_li{
  background-color:#ff8800;
}
.style_a{
  color: white;
}

.modal-info {
  vertical-align: middle;
  margin: 0 10px;
}

.schema-form-section .form-control.ng-invalid {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

.term-and-condition {
    padding-left: 20px;
    margin-top: -5px;
    margin-bottom: -5px;
}
