{%- raw %}{#{% endraw %}
{{ '  Copyright (C) %s %s.'|format(cookiecutter.year, cookiecutter.copyright_holder)|wordwrap(width=77, wrapstring='\n  ')}}

{{ '  %s is free software; you can redistribute it and/or modify it under the terms of the MIT License; see LICENSE file for more details.'|format(cookiecutter.project_name)|wordwrap(width=77, wrapstring='\n  ')}}
{% raw %}#}{% endraw -%}
