# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015-2019 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

dojson>=1.0.0
invenio-access>=1.0.0
invenio-accounts>=1.0.0
invenio-admin>=1.0.0
invenio-i18n>=1.0.0
invenio-pidstore>=1.0.0
invenio-rest[cors]>=1.0.0
invenio-theme>=1.0.0
urllib3>=1.21.1,<1.25
