# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015-2018 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

-e git+git://github.com/lepture/flask-oauthlib.git#egg=flask-oauthlib
-e git+git://github.com/inveniosoftware/invenio-accounts.git#egg=invenio-accounts
-e git+git://github.com/inveniosoftware/invenio-db.git#egg=invenio-db
