

/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : 'invenio';
@reset       : 'default';

/* Elements */
@button      : 'invenio';
@container   : 'invenio';
@divider     : 'invenio';
@flag        : 'invenio';
@header      : 'invenio';
@icon        : 'default';
@image       : 'invenio';
@input       : 'invenio';
@label       : 'invenio';
@list        : 'invenio';
@loader      : 'invenio';
@placeholder : 'invenio';
@rail        : 'invenio';
@reveal      : 'invenio';
@segment     : 'invenio';
@step        : 'invenio';

/* Collections */
@breadcrumb  : 'invenio';
@form        : 'invenio';
@grid        : 'invenio';
@menu        : 'invenio';
@message     : 'invenio';
@table       : 'invenio';

/* Modules */
@accordion   : 'invenio';
@checkbox    : 'invenio';
@dimmer      : 'invenio';
@dropdown    : 'invenio';
@embed       : 'invenio';
@modal       : 'invenio';
@nag         : 'invenio';
@popup       : 'invenio';
@progress    : 'invenio';
@rating      : 'invenio';
@search      : 'invenio';
@shape       : 'invenio';
@sidebar     : 'invenio';
@sticky      : 'invenio';
@tab         : 'invenio';
@transition  : 'default';

/* Views */
@ad          : 'invenio';
@card        : 'invenio';
@comment     : 'invenio';
@feed        : 'invenio';
@item        : 'invenio';
@statistic   : 'invenio';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site theme folder */
@siteFolder  : '../../less/weko_theme/site';

/*******************************
         Import Theme
*******************************/

@import (multiple) "~semantic-ui-less/theme.less";

@fontPath : "../../../themes/@{theme}/assets/fonts";

/* End Config */