{% macro language_change(item) %}
  {% if item.name == "Author Management" %}
    著者管理
  {% elif item.name == "Communities" %}
    コミューにティ
  {% elif item.name == "Files" %}
    ファイル
  {% elif item.name == "Index Tree" %}
    インデクスツリー
  {% elif item.name == "Item Types" %}
    アイテムタイプ
  {% elif item.name == "Items" %}
    アイテム
  {% elif item.name == "OAI-PMH" %}
    OAI-PMH
  {% elif item.name == "Records" %}
    記録
  {% elif item.name == "Resource Sync" %}
    リソースシンク
  {% elif item.name == "Setting" %}
    設定
  {% elif item.name == "Statistics" %}
    統計情報
  {% elif item.name == "User Management" %}
    ユーザーマネージメント
  {% elif item.name == "Web Design" %}
    ウェブデザイン
  {% elif item.name == "WorkFlow" %}
    ワークフロー
  {% else %}
    {{ item.name }}
  {% endif %}
{% endmacro %}
