{% macro language_change(item) %}
  {% if item.name == "Author Management" %}
    著者DB管理
  {% elif item.name == "Communities" %}
    コミュニティ管理
  {% elif item.name == "Files" %}
    ファイル管理
  {% elif item.name == "Index Tree" %}
    インデックスツリー管理
  {% elif item.name == "Item Types" %}
    アイテムタイプ管理
  {% elif item.name == "Items" %}
    アイテム管理
  {% elif item.name == "OAI-PMH" %}
    OAI-PMH
  {% elif item.name == "Records" %}
    レコード管理
  {% elif item.name == "Resource Sync" %}
    Resource Sync
  {% elif item.name == "Setting" %}
    設定
  {% elif item.name == "Statistics" %}
    統計
  {% elif item.name == "User Management" %}
    ユーザ管理
  {% elif item.name == "Web Design" %}
    ウェブデザイン管理
  {% elif item.name == "WorkFlow" %}
    ワークフロー管理
  {% else %}
    {{ item.name }}
  {% endif %}
{% endmacro %}
