{% macro sub_menu(name) %}
  {% if name == "Edit" %}
    編集
  {% elif name == "Export" %}
    一括出力
  {% elif name == "Import" %}
    一括登録
  {% elif name == "Community" %}
    コミュニティ
  {% elif name == "Featured Community" %}
    注目のコミュニティ
  {% elif name == "Inclusion Request" %}
    参加リクエスト
  {% elif name == "Bucket" %}
    バケット
  {% elif name == "File Instance" %}
    ファイルインスタンス
  {% elif name == "Location" %}
    ロケーション
  {% elif name == "Multipart Object" %}
    マルチパートオブジェクト
  {% elif name == "Object Version" %}
    オブジェクトバージョン
  {% elif name == "Custom Sort" %}
    カスタムソート
  {% elif name == "Edit Tree" %}
    ツリー編集
  {% elif name == "Journal Information" %}
    雑誌情報
  {% elif name == "Mapping" %}
    マッピング
  {% elif name == "Metadata" %}
    メタデータ
  {% elif name == "OAI Schema" %}
    OAIスキーマ
  {% elif name == "Properties" %}
    プロパティ
  {% elif name == "Bulk Delete" %}
    一括削除
  {% elif name == "Bulk Update" %}
    一括更新
  {% elif name == "Import" %}
    インポート
  {% elif name == "Harvesting" %}
    ハーベスト
  {% elif name == "Identify" %}
    Identify
  {% elif name == "Sets" %}
    Sets
  {% elif name == "Persistent Identifier" %}
    永続識別子
  {% elif name == "Record Metadata" %}
    レコードメタデータ
  {% elif name == "Change List" %}
    Change List
  {% elif name == "Resource List" %}
    Resource List
  {% elif name == "Resync" %}
    Resync
  {% elif name == "File Preview" %}
    ファイルプレビュー
  {% elif name == "Identifier" %}
    識別子
  {% elif name == "Index Link" %}
    インデックスリンク表示
  {% elif name == "Index Tree" %}
    インデックスツリー表示
  {% elif name == "Item Export" %}
    アイテム一括出力
  {% elif name == "Items" %}
    アイテム表示
  {% elif name == "Language" %}
    言語表示
  {% elif name == "Log Analysis" %}
    ログ解析
  {% elif name == "Mail" %}
    メール送信
  {% elif name == "Others" %}
    その他
  {% elif name == "PDF Cover Page" %}
    PDFカバーページ表示
  {% elif name == "Ranking" %}
    ランキング表示
  {% elif name == "Search" %}
    検索設定
  {% elif name == "Shibboleth" %}
    Shibboleth
  {% elif name == "Site Info" %}
    サイト情報
  {% elif name == "Site License" %}
    サイトライセンス
  {% elif name == "Sitemap" %}
    サイトマップ
  {% elif name == "Stats" %}
    統計情報表示
  {% elif name == "Style" %}
    画面背景色
  {% elif name == "WebAPI Account" %}
    WebAPIアカウント
  {% elif name == "Feedback Mail" %}
    フィードバックメール
  {% elif name == "Report" %}
    リポート
  {% elif name == "Access: Roles" %}
    アクセス: ロール
  {% elif name == "Access: System Roles" %}
    アクセス: システムロール
  {% elif name == "Access: Users" %}
    アクセス: ユーザー
  {% elif name == "Linked account identities" %}
    連結アカウント識別子
  {% elif name == "Linked account tokens" %}
    連結アカウントトークン
  {% elif name == "Linked accounts" %}
    連結アカウント
  {% elif name == "OAuth Application Tokens" %}
    OAuthアプリケーショントークン
  {% elif name == "OAuth Applications" %}
    OAuthアプリケーション
  {% elif name == "Role" %}
    ロール
  {% elif name == "Session Activity" %}
    セッションアクティビティ
  {% elif name == "User" %}
    ユーザー
  {% elif name == "User Profile" %}
    ユーザープロファイル
  {% elif name == "Page Layout" %}
    ページレイアウト
  {% elif name == "Widget" %}
    ウィジェット
  {% elif name == "Flow List" %}
    フロー
  {% elif name == "WorkFlow List" %}
    ワークフロー
  {% else %}
    {{ name }}
  {% endif %}
{% endmacro %}
