<div class="panel panel-default panel-default-2"
  ng-if="vm.invenioSearchResults.aggregations.hasOwnProperty('path') && (vm.invenioSearchResults.aggregations.path.buckets[0].length >= 1 || (isCommunityRootIndex && vm.invenioSearchResults.aggregations.path.buckets[0].length > 1))">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">Index List</h3>
      <ol class="breadcrumb" style="padding-bottom:0px;margin-bottom:0px" ng-if="vm.invenioSearchResults.aggregations.hasOwnProperty('path') && vm.invenioSearchResults.aggregations.path.buckets[0].length > 0
        && typeIndexList() != 'root'">
        <li ng-repeat="index_path in vm.invenioSearchResults.aggregations.path.buckets[0][0].key.split('/') track by $index"
          style="list-style-position: inside;
          padding: 10px 0 10px 20px;
          text-indent: -1em;
          font-size:18px">
          <a target="_self" ng-if="!$last" ng-href="/search?search_type=2&q={{ index_path }}{{commInfoIndex}}">
            {{vm.invenioSearchResults.aggregations.path.buckets[0][0]['path_name_dict'][index_path]}}</a>
          <span
            ng-if="$last">{{vm.invenioSearchResults.aggregations.path.buckets[0][0]['path_name_dict'][index_path]}}</span>
        </li>
      </ol>
  </div>
  <div class="panel-body">
    <div class="panel_bread">
      <ol class="breadcrumb" ng-if="(typeIndexList !== 'root' && !isCommunityRootIndex)">
        <li
          ng-repeat="index_path in vm.invenioSearchResults.aggregations.path.buckets[0][0].key.split('/') track by $index">
          <span ng-if="is_permission">
            <a target="_self" ng-if="!$last" ng-href="/search?search_type=2&q={{ index_path }}{{commInfoIndex}}">
            {{vm.invenioSearchResults.aggregations.path.buckets[0][0].name.split('-/-')[$index]}} <{{vm.invenioSearchResults.aggregations.path.buckets[0][0].key.split('/')[$index]}}> </a>
            <span ng-if="$last">{{vm.invenioSearchResults.aggregations.path.buckets[0][0].name.split('-/-')[$index]}} <{{vm.invenioSearchResults.aggregations.path.buckets[0][0].key.split('/')[$index]}}></span>
          </span>
          <span ng-if="!is_permission">
            <a target="_self" ng-if="!$last" ng-href="/search?search_type=2&q={{ index_path }}{{commInfoIndex}}">
            {{vm.invenioSearchResults.aggregations.path.buckets[0][0].name.split('-/-')[$index]}}</a>
            <span ng-if="$last">{{vm.invenioSearchResults.aggregations.path.buckets[0][0].name.split('-/-')[$index]}}</span>
          </span>

        </li>
        <span ng-if="vm.invenioSearchResults.aggregations.path.buckets[0][0].rss_status == true" class="ng-scope rss"
          style="float: right;">
          <a target="_blank"
            href="/api/rss.xml?index_id={{ vm.invenioSearchResults.aggregations.path.buckets[0][0].key.split('/').pop() }}&page=1&count=20&term=14&lang=en"
            rel="noopener noreferrer">
            <i class="fa fa-rss"></i>
          </a>
        </span>
      </ol>
      <div class="row row-4"
        ng-if="journal_info && vm.invenioSearchResults.aggregations.path.buckets[0][0].display_format == 1">
        <div class="col-xs-12">
          <div class="col-xs-4" id="journal_info_img" style="padding:0 0 15px; display:none;">
          </div>
          <div class="col-xs-6">
            <p style="font-size: 20px;" ng-bind="journal_title"></p>
            <div style="padding-left: 10px;">
              <p>{{journal_info.publication_title}}</p>
              <p>{{journal_info.publisher_name}}</p>
              <p>{{journal_info.language}}</p>
              <p>{{journal_info.online_identifier}}</p>
              <p ng-bind-html="display_comment(vm.invenioSearchResults.aggregations.path.buckets[0][0].comment) | sanitize" style="width: 100%; word-wrap: break-word;"></p>
              <p style="margin: 20px 0;">URL: <a
                  href="{{journal_info.openSearchUrl}}">{{journal_info.openSearchUrl}}</a></p>
            </div>
            <p>
              <a href="javascript:;" ng-click="collapse_flg = !collapse_flg" class="collapsed-link">
                <span class="icon-right pull-left ng-hide" ng-show="collapse_flg"></span>
                <span class="icon-down pull-left" ng-hide="collapse_flg"></span>
                <span ng-bind="journal_details"></span>
              </a>
            </p>
            <div ng-hide="collapse_flg" style="padding-left: 15px;">
              <p>{{journal_info.coverage_depth}}</p>
              <p>{{journal_info.preceding_publication_title_id}}</p>
              <p>{{journal_info.ncid}}</p>
              <p>{{journal_info.print_identifier}}</p>
              <p>{{journal_info.date_first_issue_online}}</p>
              <p>{{journal_info.ndl_callno}}</p>
              <p>{{journal_info.num_first_issue_online}}</p>
              <p>{{journal_info.publication_type}}</p>
              <p>{{journal_info.num_last_issue_online}}</p>
              <p>{{journal_info.num_last_vol_online}}</p>
              <p>{{journal_info.title_transcription}}</p>
              <p>{{journal_info.ndl_bibid}}</p>
              <p>{{journal_info.num_first_vol_online}}</p>
              <p>{{journal_info.coverage_notes}}</p>
              <p>{{journal_info.parent_publication_title_id}}</p>
              <p>{{journal_info.jstage_code}}</p>
              <p>{{journal_info.title_alternative}}</p>
              <p>{{journal_info.date_last_issue_online}}</p>
              <p>{{journal_info.ichushi_code}}</p>
              <p>{{journal_info.embargo_info}}</p>
              <p>{{journal_info.access_type}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span ng-hide="sort_index_list(vm.invenioSearchResults.aggregations.path.buckets[0])"></span>
    <div id="index_tree_list">
      <ul class="list-group">
        <div class="list-group-item break-word"
          ng-repeat="index_path in sorted_child_list track by $index"
          ng-if="typeIndexList !== 'root' || typeIndexList === 'root'"
          style="position: relative;">
          <a ng-href="/search?search_type=2&q={{ index_path.key.split('/').pop() }}{{commInfoIndex}}" style="
                color: #333;
                display: block;
                padding-right: 25px;
              ">
            <div>
                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                <span ng-if="is_permission">{{ index_path.name.split('-/-').pop() }} <{{index_path.key.split('/').pop()}}></span>
                <span ng-if="!is_permission">{{ index_path.name.split('-/-').pop() }}</span>
                <span
                    ng-if="(index_path.date_range.pub_cnt!=0||index_path.date_range.un_pub_cnt!=0)&&(is_login)" class="badge"
                  style="float:right">{{index_path.date_range.pub_cnt}} items (Private {{index_path.date_range.un_pub_cnt}}
                  items)
                </span>
                <span
                    ng-if="(index_path.date_range.pub_cnt==0&&index_path.date_range.un_pub_cnt==0)||(!is_login)" class="badge"
                  style="float:right">{{index_path.date_range.pub_cnt}} items </span>
            </div>
          </a>
          <div style="padding-left: 14px">
            <p ng-bind-html="display_comment(index_path.comment) | sanitize" style="width: 100%; word-wrap: break-word;"></p>
          </div>
          <span ng-if="index_path.rss_status" style="position: absolute;top: 9px;right: 15px;">
            <a ng-href="/api/rss.xml?index_id={{ index_path.key.split('/').pop() }}&page=1&count=20&term=14&lang=en"
              target="_blank">
              <i class="fa fa-rss rss_icon"></i>
            </a>
          </span>
        </div>
      </ul>
    </div>
    <div ng-if="typeIndexList() != 'root'">
      <div id="index_tree_img" ng-if="vm.invenioSearchResults.aggregations.path.buckets[0][0].hasOwnProperty('img') || (vm.invenioSearchResults.aggregations.path.buckets[0][0].display_format == 1 && !journal_info) || vm.invenioSearchResults.aggregations.path.buckets[0][0].display_format == 2" style="display: flex">
        <div class="col-xs-4">
          <img ng-if="vm.invenioSearchResults.aggregations.path.buckets[0][0].hasOwnProperty('img')" ng-src="{{vm.invenioSearchResults.aggregations.path.buckets[0][0].img}}"
            class="img-thumbnail ng-hide" id="thumbnail_img" style="max-width: 100%;" 
            alt={{vm.invenioSearchResults.aggregations.path.buckets[0][0].name.split('-/-')[$index]}}
            ng-repeat="index_path in vm.invenioSearchResults.aggregations.path.buckets[0][0].key.split('/') track by $index">
        </div>
        <div class="col-xs-6">
          <span ng-if="(vm.invenioSearchResults.aggregations.path.buckets[0][0].display_format == 1 && !journal_info) || 
          vm.invenioSearchResults.aggregations.path.buckets[0][0].display_format == 2" style="padding: 0 10px">
            <p ng-bind-html="display_comment(vm.invenioSearchResults.aggregations.path.buckets[0][0].comment) | sanitize" style="width: 100%; word-wrap: break-word;"></p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" ng-value="vm.invenioSearchResults.aggregations.path.buckets[0].length" id="index_list_length">
<input type="hidden" ng-value="vm.invenioSearchResults.aggregations.path.buckets[0][0].display_format"
  id="display_format">
