<div class="panel panel-default panel-default-2" ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
  <div class="panel-heading">
    <div class="form-inline">
      <div class="checkbox hide">
        <label>
          <input type="checkbox" id="item_id_1" value="option1" aria-label="...">
        </label>
      </div>
      <a target="_self" ng-href="/records/{{ record.id }}{{commInfo}}">
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>{{ record.metadata.hasOwnProperty('title')?record.metadata.title[0]:record.metadata['dc:title'][0]|escapeTitle}}</a>
    </div>
  </div>
  <div class="panel-body">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td ng-hide="!record.metadata._thumbnail" class="fitwidth" style="vertical-align: top;">
          <img ng-if="record.metadata._thumbnail" ng-src="/record/{{ record.id }}/files/{{record.metadata._thumbnail.thumbnail_label}}"
            alt="{{record.metadata._thumbnail.thumbnail_label}}" width="{{record.metadata._thumbnail.thumbnail_width}}">
        </td>
        <td style="vertical-align: top;">
          <span ng-repeat="author in record.metadata._creator_info track by $index">
            <span ng-if="author.creatorNames.creatorName">{{ author.creatorNames.creatorName|escapeTitle }}</span>
            <span ng-if="!author.creatorNames.creatorName && author.familyNames.familyName">{{ author.familyNames.familyName|escapeTitle }}, </span>
            <span ng-if="!author.creatorNames.creatorName && author.givenNames.givenName">{{ author.givenNames.givenName|escapeTitle }}</span>
            <span ng-repeat="nameIdentifier in author.nameIdentifiers track by $index">
              <a ng-if="nameIdentifier.nameIdentifierScheme=='ORCID'" href="{{ nameIdentifier.nameIdentifierURI }}" title="{{ nameIdentifier.nameIdentifierScheme }}:{{ nameIdentifier.nameIdentifier }}" alt="{{ nameIdentifier.nameIdentifierScheme }}:{{ nameIdentifier.nameIdentifier }}">
                <img style="display: inline-block; _display: inline;height: 1em;vertical-align: middle;" src="static/images/orcid.svg"/>
              </a>
              <a ng-if="!(nameIdentifier.nameIdentifierScheme=='ORCID') && !(nameIdentifier.nameIdentifierScheme=='WEKO') && nameIdentifier.nameIdentifierURI" title="{{ nameIdentifier.nameIdentifierScheme }}:{{ nameIdentifier.nameIdentifier }}" href="{{ nameIdentifier.nameIdentifierURI }}">
                <span style="display: inline-block; _display: inline;vertical-align: middle;background: #337ab7;border-radius: 50%;width: 1.2em;height: 1.2em;color: #fff;font-size: 0.8em;text-align: center;line-height: 1.2em;">{{ (nameIdentifier.nameIdentifierScheme)[0] }}</span>
              </a>
              <a ng-if="nameIdentifier.nameIdentifierScheme=='WEKO'" title="{{ nameIdentifier.nameIdentifierScheme }}:{{ nameIdentifier.nameIdentifier }}">
                <span style="display: inline-block; _display: inline;vertical-align: middle;background: #337ab7;border-radius: 50%;width: 1.2em;height: 1.2em;color: #fff;font-size: 0.8em;text-align: center;line-height: 1.2em;">{{ (nameIdentifier.nameIdentifierScheme)[0] }}</span>
              </a>

              </span>
            ;
          </span><br/>
          <pre class="hide">{{record.metadata._comment}}</pre>

          <span ng-repeat="comment in record.metadata._comment track by $index"> {{ comment|escapeTitle }} <br> </span>
<!--
              <div class="pull-right">
                <ul class="list-inline">
                  <li ng-show="record.metadata.creator">
                    <a ng-click="showAuthors=!showAuthors">
                      {{ showAuthors ? 'Hide authors' : 'Show authors' }}
                    </a>
                  </li>
                  <li>
                    <a ng-click="showSource=!showSource">
                      {{ showSource ? 'Hide source' : 'Show source' }}
                    </a>
                  </li>
                </ul>
              </div>
              <div ng-hide="!showAuthors">
                <ul>
                  <div ng-repeat='author in record.metadata.creator'>
                    <li>{{ author|escapeAuthor }}</li>
                  </div>
                </ul>
              </div>
              <div ng-hide="!showSource">
                <pre class="pre-scrollable">{{ record | json }}</pre>
              </div>
              -->
          <div class="tab-switch">
            <label ng-if="record.metadata._show_description" style="flex: 0 0 30%;"><input type="radio" ng-disabled="!(record.metadata._description)" name="{{ record.id }}">Description</label>
            <div class="tab-content">
              <div ng-repeat="description in record.metadata._description track by $index" class="tab-content-box">
                <p ng-if="description.subitem_description_type" class="tab-contents-p">Description Type : {{ description.subitem_description_type|escapeTitle }}</p>
                <p ng-if="description.subitem_description" class="tab-contents-p">Description : {{ description.subitem_description|escapeTitle }}</p>
                <p ng-if="description.subitem_description_language" class="tab-contents-p">Language : {{ description.subitem_description_language|escapeTitle }}</p>
              </div>
            </div>

            <label ng-if="record.metadata._show_file" style="flex: 0 0 30%;"><input type="radio" ng-disabled="!(record.metadata._files_info)" name="{{ record.id }}">Files</label>
            <div class="tab-content">
              <div class="row">
                <!-- 小型携帯用ディスプレイ -->
                <div class="visible-xs-block">
                  <div class="col-xs-4" ng-repeat="file_info in record.metadata._files_info |limitTo:3 track by $index"
                    ng-hide="record.metadata._files_info.length > 3 && $index == 2">
                    <a ng-href="{{file_info.url}}" target="{{file_info.extention?'_self':'_blank'}}" class="extention-button"
                      data-toggle="tooltip" title="{{file_info.label}}, {{file_info.date[0].dateType}}/{{file_info.date[0].dateValue}}">
                      {{file_info.extention?file_info.extention:'URL'|escapeTitle}}
                    </a>
                  </div>
                  <div class="col-xs-4" ng-show="record.metadata._files_info.length > 3">
                    <a ng-href="/records/{{ record.id }}{{commInfo}}" class="dot-button" style="white-space: nowrap;">
                      ● ● ●
                    </a>
                  </div>
                </div>
                <!-- モバイル向けディスプレイ -->
                <div class="visible-sm-block">
                  <div class="col-sm-3" ng-repeat="file_info in record.metadata._files_info |limitTo:4 track by $index"
                    ng-hide="record.metadata._files_info.length > 4 && $index == 3">
                    <a ng-href="{{file_info.url}}" target="{{file_info.extention?'_self':'_blank'}}" class="extention-button"
                      data-toggle="tooltip" title="{{file_info.label}}, {{file_info.date[0].dateType}}/{{file_info.date[0].dateValue}}">
                      {{file_info.extention?file_info.extention:'URL'|escapeTitle}}
                    </a>
                  </div>
                  <div class="col-sm-3" ng-show="record.metadata._files_info.length > 4">
                    <a ng-href="/records/{{ record.id }}{{commInfo}}" class="dot-button" style="white-space: nowrap;">
                      ● ● ●
                    </a>
                  </div>
                </div>
                <!-- タブレット/デスクトップ用ディスプレイ -->
                <div class="visible-md-block visible-lg-block">
                  <div class="col-md-2 col-lg-2"
                    ng-repeat="file_info in record.metadata._files_info |limitTo:6 track by $index"
                    ng-hide="record.metadata._files_info.length > 6 && $index == 5">
                    <a ng-href="{{file_info.url}}" target="{{file_info.extention?'_self':'_blank'}}" class="extention-button"
                      data-toggle="tooltip" title="{{file_info.label}}, {{file_info.date[0].dateType}}/{{file_info.date[0].dateValue}}">
                      {{file_info.extention?file_info.extention:'URL'|escapeTitle}}
                    </a>
                  </div>
                  <div class="col-md-2 col-lg-2" ng-show="record.metadata._files_info.length > 6">
                    <a ng-href="/records/{{ record.id }}{{commInfo}}" class="dot-button" style="white-space: nowrap;">
                      ● ● ●
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <label ng-if="record.metadata._show_reference" style="flex: 0 0 30%;"><input type="radio" ng-disabled="!(record.metadata._reference)" name="{{ record.id }}">Reference</label>
            <div class="tab-content">
              <div ng-repeat="reference in record.metadata._reference track by $index" class="tab-content-box">
                <p ng-if="reference.subitem_relation_type" class="tab-contents-p">Relation Type : {{ reference.subitem_relation_type|escapeTitle }}</p>
                <p ng-if="reference.subitem_relation_type_id.subitem_relation_type_select" class="tab-contents-p">Identifier Type : {{ reference.subitem_relation_type_id.subitem_relation_type_select|escapeTitle }}</p>
                <p ng-if="reference.subitem_relation_type_id.subitem_relation_type_id_text" class="tab-contents-p">Identifier : {{ reference.subitem_relation_type_id.subitem_relation_type_id_text|escapeTitle }}</p>
                <div ng-repeat="relation_name in reference.subitem_relation_name track by $index">
                  <p ng-if="relation_name.subitem_relation_name_text" class="tab-contents-p">Relation Name : {{ relation_name.subitem_relation_name_text|escapeTitle }}</p>
                  <p ng-if="relation_name.subitem_relation_name_language" class="tab-contents-p">Language : {{ relation_name.subitem_relation_name_language|escapeTitle }}</p>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
