<ul>
  <li ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
    <h4><a target="_self" ng-href="/records/{{ record.id }}">{{ record.metadata.title }}</a></h4>
    <div ng-repeat='dec in record.metadata.description'>
       <p>{{ dec }}</p>
    </div>
    <div class="text-right">
      <ul class="list-inline">
        <li ng-show="record.metadata.publisher.length > 0">
          <a ng-click="showAuthors=!showAuthors">
            {{ showAuthors ? 'Hide authors' : 'Show authors' }}
          </a>
        </li>
        <li>
          <a ng-click="showSource=!showSource">
            {{ showSource ? 'Hide source' : 'Show source' }}
          </a>
        </li>
      </ul>
    </div>
    <div ng-hide="!showAuthors">
      <ul>
        <div ng-repeat='author in record.metadata.creator'>
          <li>{{ author }}</li>
        </div>
      </ul>
    </div>
    <div ng-hide="!showSource">
      <pre>{{ record | json }}</pre>
    </div>
    <hr />
  </li>
</ul>
