<fieldset ng-disabled="form.readonly"
          class="schema-form-fieldset {{ form.htmlClass }}"
          ng-init="collapsed = form.required !== true">
    <div class="panel panel-default deposit-panel">
        <div class="panel-heading"><a ng-click="collapsed = !collapsed"
                                      class="panel-toggle">
            {{ form.title }}
            <span class="pull-right" ng-show="collapsed"><i
                class="glyphicon glyphicon-chevron-right"></i></span> <span
                    class="pull-right" ng-hide="collapsed"><i
                    class="glyphicon glyphicon-chevron-down"></i></span>
                </a>
            <span class="text-muted pull-right"
                  style="padding-right: 10px;">{{ form.required == true ? "Required" : "Optional" }}</span>
        </div>
        <div class="panel-body panel-body2" ng-hide="collapsed">
            <div class="help-block" ng-if="form.description"
                ng-bind-html="form.description"></div>
            <div sf-array="form" class="schema-form-array {{form.htmlClass}}" ng-model="$$value$$" ng-model-options="form.ngModelOptions">
                <div class="col-sm-12">
                    <ol class="list-group" ng-model="modelArray" ui-sortable="form.sortOptions">
                        <li class="list-group-item {{ form.fieldHtmlClass }}"
                            ng-class="{'deposit-inline': form.inline}"
                            ng-repeat="item in modelArray track by $index">
                            <div ng-controller="FileNameCheckCtrl" ng-if="form.schema.items.properties.filename">
                                <div class="close-container" ng-class="{'clear-form': !form.inline}">
                                    <button ng-hide="form.readonly || form.remove === null"
                                            ng-click="deleteFromArrayFile($index, modelArray)"
                                            ng-disabled="form.schema.minItems >= modelArray.length"
                                            style="position: relative; z-index: 20;"
                                            type="button" class="close pull-right"
                                            >
                                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                </div>
                            </div>
                            <div ng-if="!form.schema.items.properties.filename">
                                <div class="close-container" ng-class="{'clear-form': !form.inline}">
                                    <button ng-hide="form.readonly || form.remove === null"
                                            ng-click="deleteFromArray($index)"
                                            ng-disabled="form.schema.minItems >= modelArray.length"
                                            style="position: relative; z-index: 20;"
                                            type="button" class="close pull-right"
                                            >
                                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                </div>
                            </div>
                            <sf-decorator ng-init="arrayIndex = $index" form="copyWithIndex($index)"></sf-decorator>
                        </li>
                    </ol>
                </div>
                <div class="clearfix" style="padding: 2px;" ng-model="modelArray">
                    <div class="help-block"
                        ng-show="(hasError() && errorMessage(schemaError())) || form.description"
                        ng-bind-html="(hasError() && errorMessage(schemaError())) || form.description"></div>

                    <button ng-hide="form.readonly || form.add === null"
                            ng-click="appendToArray()"
                            ng-disabled="form.schema.maxItems <= modelArray.length"
                            type="button"
                            class="btn {{ form.style.add || 'btn-default' }} pull-right">
                        <i class="glyphicon glyphicon-plus"></i>
                        {{ form.add || 'Add'}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</fieldset>
