<fieldset ng-disabled="form.readonly"
          class="schema-form-fieldset {{ form.htmlClass }}"
          ng-init="collapsed = form.required !== true">
    <div class="panel panel-default deposit-panel">
        <div class="panel-heading"><a ng-click="collapsed = !collapsed"
                                      class="panel-toggle">
            {{ form.title }}
            <span class="pull-right" ng-show="collapsed"><i
                class="glyphicon glyphicon-chevron-right"></i></span> <span
                    class="pull-right" ng-hide="collapsed"><i
                    class="glyphicon glyphicon-chevron-down"></i></span>
                </a>
            <span class="text-muted pull-right"
                  style="padding-right: 10px;">{{ form.required == true ? 'Required' : "Optional" }}</span>
        </div>
        <div class="panel-body panel-body2" ng-hide="collapsed">
            <div class="help-block" ng-if="form.description"
                ng-bind-html="form.description"></div>
            <sf-decorator ng-repeat="item in form.items"
                          form="item"></sf-decorator>
        </div>
    </div>
</fieldset>
