---
import Logo1 from "/images/logo/logo_b.png";
import Logo2 from "/images/logo/logo02.png";
import ButtonClose from "/images/btn/btn-close.svg";
import ButtonIndex from "/images/btn/btn-indextree.svg";
---

<dialog id="MobileMenu">
  <div class="modal-left">
    <button class="btn-close" @click="closeModal('MobileMenu')">
      <img src={ButtonClose} alt="close" />
    </button>
    <div class="wrapper">
      <div class="flex flex-wrap items-end border-b border-miby-thin-gray p-2.5 mb-2.5">
        <p class="mr-[5px]">
          <a href="/"><img src={Logo1} alt="MIBY" /></a>
        </p>
        <p class="mr-[5px]">
          <a href="/"><img src={Logo2} alt="MIBY" /></a>
        </p>
        <p class="text-miby-black text-xs w-full">未病データベースタイトル＆キャッチコピー</p>
      </div>
      <div class="p-5">
        <i class="icons icon-lang-b"></i>
        <span class="ml-2.5 mr-5 text-miby-orange underline">JP</span>
        <a class="text-miby-thin-gray" href="/en">EN</a>
      </div>
      <div class="w-full bg-miby-mobile-blue py-1 pl-5">
        <img src={ButtonIndex} alt="インデックスツリー">
      </div>
      <div class="index-tree__list p-2.5 overflow-y-auto">
        <details class="index-tree__items">
          <summary>ビジネスサイエンス系</summary>
          <div class="index-tree__detail">
            <details class="index-tree__item">
              <summary>ビジネスサイエンス系</summary>
              <div class="index-tree__detail"></div>
            </details>
          </div>
        </details>
        <details class="index-tree__items">
          <summary>数理物質系</summary>
          <div class="index-tree__detail">
            <details class="index-tree__item">
              <summary>数理物質系</summary>
              <div class="index-tree__detail"></div>
            </details>
          </div>
        </details>
        <details class="index-tree__items" open>
          <summary>システム情報系</summary>
          <div class="index-tree__detail">
            <details class="index-tree__item">
              <summary>システム分析と設計の基礎</summary>
              <div class="index-tree__detail"></div>
            </details>
            <details class="index-tree__item">
              <summary
                >Comparative analysis of the efficacy and safety of oral versus intravenous
                administration of corticosteroids in the management of acute exacerbations of asthma
                in adult patients: A randomized controlled trial</summary
              >
              <div class="index-tree__detail"></div>
            </details>
          </div>
        </details>
        <details class="index-tree__items" open>
          <summary>管理システムの設計</summary>
          <div class="index-tree__detail">
            <details class="index-tree__item">
              <summary>データベース管理システムの設計と最適化</summary>
              <div class="index-tree__detail"></div>
            </details>
            <details class="index-tree__item">
              <summary>ソフトウェア開発ライフサイクルと品質管理</summary>
              <div class="index-tree__detail"></div>
            </details>
            <details class="index-tree__item" open>
              <summary>ネットワークセキュリティと情報保護の戦略</summary>
              <ul class="index-tree__list">
                <li>
                  <a class="underline" href=""
                    >Effects of a combined aerobic and resistance exercise program on insulin
                    sensitivity and glucose metabolism in older adults with type 2 diabetes: A
                    randomized controlled trial</a
                  >
                </li>
                <li>
                  <a class="underline" href=""
                    >Efficacy and safety of a novel topical treatment for moderate-to-severe atopic
                    dermatitis: Results from a phase III randomized controlled trial</a
                  >
                </li>
              </ul>
            </details>
            <details class="index-tree__item">
              <summary>ビッグデータ解析と機械学習の応用</summary>
              <div class="index-tree__detail"></div>
            </details>
          </div>
        </details>
      </div>
    </div>
  </div>
</dialog>

<script is:inline>
  function closeModal(target) {
    document.getElementById(target).close();
  }
</script>
