$miby-black: #333333;
$miby-blue: #071A46;
$miby-light-blue: #6582A4;
$miby-dark-blue: #051334;
$miby-link-blue: #5B7593;
$miby-gray: #DFE0E2;
$miby-modal-bg-gray: #FEFEFE;
$miby-dark-gray: #999999;
$miby-border-gray: #EEEEEE;
$miby-border-black: #24272B;
$miby-bg-gray: #FCFCFC;
$miby-light-gray: #F2F2F2;
$miby-thin-gray: #CCCCCC;
$miby-faq-gray: #555555;
$miby-orange: #DB6915;
$miby-purple: #E7E2F2;
$miby-thin-green: #A6ADA0;
$miby-tag-gray: #AFAFAF;
$miby-tag-yellow: #C9C2B1;
$miby-tag-orange: #B9AFA8;
$miby-searchtags-blue: #DCE2ED;

//メディアクエリ設定
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 960px;