# -*- coding: utf-8 -*-
#
# Copyright (C) 2018 Esteban J. G. Gabancho.
#
# Invenio-S3 is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICEN.

-e git+https://github.com/inveniosoftware/invenio-files-rest.git#egg=invenio-files-rest
-e git+git://github.com/dask/s3fs.git#egg=s3fs
