// カラー設定
$miby-black: #333333;
$miby-blue: #071a46;
$miby-light-blue: #6582a4;
$miby-dark-blue: #051334;
$miby-link-blue: #5b7593;
$miby-gray: #dfe0e2;
$miby-modal-bg-gray: #fefefe;
$miby-dark-gray: #999999;
$miby-border-gray: #eeeeee;
$miby-border-black: #24272b;
$miby-bg-gray: #fcfcfc;
$miby-light-gray: #f2f2f2;
$miby-thin-gray: #cccccc;
$miby-faq-gray: #555555;
$miby-orange: #db6915;
$miby-purple: #e7e2f2;
$miby-thin-green: #a6ada0;
$miby-tag-gray: #afafaf;
$miby-tag-yellow: #c9c2b1;
$miby-tag-orange: #b9afa8;
$miby-searchtags-blue: #dce2ed;

// メディアクエリ設定
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 960px;
