{% include 'misc/header.py' %}
# TODO: Generate this manifest file by running the following commands:
# (please sort the lines in this file after running below commands)
#
#  git init
#  git add -A
#  pip install -e .[all]
#  check-manifest -u

include .dockerignore
include .editorconfig
include .tx/config
prune docs/_build
recursive-include {{ cookiecutter.package_name }}/translations *.po *.pot *.mo
