{% include 'misc/header.py' -%}
#
# TODO: Add development versions of some important dependencies here to get a
#       warning when there are breaking upstream changes, e.g.:
#
#     -e git+git://github.com/mitsuhiko/werkzeug.git#egg=Werkzeug
#     -e git+git://github.com/mitsuhiko/jinja2.git#egg=Jinja2
