# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2016-2019 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include *.rst
include *.sh
include *.txt
include .dockerignore
include .editorconfig
include .tx/config
include LICENSE
include babel.ini
include docs/requirements.txt
include pytest.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include examples *.csv
recursive-include examples *.ipynb
recursive-include examples *.jpg
recursive-include examples *.json
recursive-include examples *.md
recursive-include examples *.pdf
recursive-include examples *.png
recursive-include examples *.xml
recursive-include examples *.zip
recursive-include invenio_previewer *.bcmap
recursive-include invenio_previewer *.cur
recursive-include invenio_previewer *.gif
recursive-include invenio_previewer *.html *.js *.css
recursive-include invenio_previewer *.ico
recursive-include invenio_previewer *.png
recursive-include invenio_previewer *.po *.pot *.mo
recursive-include invenio_previewer *.properties
recursive-include invenio_previewer *.scss
recursive-include invenio_previewer *.svg
recursive-include tests *.py
include .git-blame-ignore-revs
