---
export interface Props {
  title: string;
  catch: string;
  pageIndex: string;
}

const { title, catch, pageIndex } = Astro.props;

import '../styles/styles.scss'

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="ja-jp" class="scroll-smooth h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <script src="../js/script.js"></script> -->
  </head>
  <body id={pageIndex} class="font-notoSans bg-miby-border-gray h-full">
    <div class="bg-miby-gray">
      <Header />
      <slot />
	    <Footer />
    </div>
  </body>
</html>