//** Background color for `<body>`.
$body-bg:               #ffffff !default;

//** Background color for `<panel-body>`.
$panel-bg:               #ffffff !default;

//** Background color for `<header>`.
$navbar-default-bg:     #0d5f89 !default;

//** Background color for `<footer>`.
$footer-default-bg:     #0d5f89 !default;

$panel-default-border:    #dddddd !default;

$input-bg-transparent:    rgba(255, 255, 255, 0);
