//** Background color for `<body>`.
$body-bg:               #ffffff !default;

//** Background color for `<panel-body>`.
$panel-bg:               #ffffff !default;

//** Background color for `<header>`.
$navbar-default-bg:     #f8f8f8 !default;

//** Background color for `<footer>`.
$footer-default-bg:     #8a8a8a !default;

$panel-default-border:    #dddddd !default;
