.grid-stack-item {
  overflow: auto;
}

.widget{
  /* border-radius: 0px !important; */
  left: 15px !important;
  right: 15px !important;
  margin-top: 5px !important;
}

.widget-header {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.spoiler-btn {
  color: rgb(11, 0, 128);
  padding: 2px 6px;
  cursor: pointer !important;
}

.spoiler-btn:hover {
  text-decoration:underline;
  text-decoration-color:rgb(11, 0, 128);
  padding: 2px 6px;
	cursor: pointer !important;
}

.widget-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}
