.grid-stack-item {
  overflow: auto;
}

.widget {
  /* border-radius: 0px !important; */
  left: 15px !important;
  right: 15px !important;
  margin-top: 5px !important;
}

.widget-header {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  z-index: 999;
}

.writeMoreNoT {
  cursor: pointer !important;
}

.writeMoreNoT:hover {
  text-decoration: underline;
}

.widget-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.widget-header-position {
  position: inherit;
  width: 100%;
  top: 0;
  right: inherit;
}

.pad-top-30 {
  padding-top: 30px !important;
}

.no-li-style {
  list-style-type: none;
}

.rss {
  padding-left: 0px;
  padding-right: 0px;
}

.rss a {
  background-color: orange;
  padding: 5px;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  text-decoration: none;
  border-radius: 25%;
}

.rss a:hover {
  text-decoration: none;
}

.rss a>i {
  color: white;
}

.arrival-scale {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}

.no-padding-col {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.widget-resize {
  position: absolute !important;
}

.drop-line-span span {
  display: inline-block;
}

.counter-container {
  word-wrap: break-word;
  margin-top: -15px;
}

.text-access-counter {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -3px;
}
