.grid-stack-item {
  overflow: auto;
}

.widget{
  /* border-radius: 0px !important; */
  left: 15px !important;
  right: 15px !important;
  margin-top: 5px !important;
}

.widget-header {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.writeMoreNoT {
  cursor: pointer !important;
}

.writeMoreNoT:hover {
  text-decoration:underline;
}

.rectangleNoT {
  height: 25px;
  width: 50px;
  background-color: orange;
  text-align: center;
}

.widget-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
