{%- if config.GOOGLE_TRACKING_ID_SYSTEM %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.GOOGLE_TRACKING_ID_SYSTEM }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ config.GOOGLE_TRACKING_ID_SYSTEM }}');

</script>
{%- endif %}
{%- if config.GOOGLE_TRACKING_ID_USER %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.GOOGLE_TRACKING_ID_USER }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ config.GOOGLE_TRACKING_ID_USER }}');

</script>
{%- endif %}
