{%- if config.get('ENABLE_COOKIE_CONSENT', False) %}

{%- if config.GOOGLE_TRACKING_ID_SYSTEM %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async data-type="application/javascript" type="text/plain" data-name="jairocloud" src="https://www.googletagmanager.com/gtag/js?id={{ config.GOOGLE_TRACKING_ID_SYSTEM }}"></script>
<script type="text/plain" data-type="application/javascript" data-name="jairocloud" >
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ config.GOOGLE_TRACKING_ID_SYSTEM }}');
</script>
{%- endif %}
{%- if config.GOOGLE_TRACKING_ID_USER %}
<script async data-type="application/javascript" type="text/plain" data-name="google-analytics" src="https://www.googletagmanager.com/gtag/js?id={{ config.GOOGLE_TRACKING_ID_USER }}"></script>
<script type="text/plain" data-type="application/javascript" data-name="google-analytics">
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ config.GOOGLE_TRACKING_ID_USER }}');

</script>
{%- endif %}
{%- else %}
{%- if config.GOOGLE_TRACKING_ID_SYSTEM %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.GOOGLE_TRACKING_ID_SYSTEM }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ config.GOOGLE_TRACKING_ID_SYSTEM }}');
</script>
{%- endif %}
{%- if config.GOOGLE_TRACKING_ID_USER %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.GOOGLE_TRACKING_ID_USER }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ config.GOOGLE_TRACKING_ID_USER }}');

</script>
{%- endif %}
{%- endif %}
