---
import Logo1 from "/images/logo/logo01.png";
import Logo2 from "/images/logo/logo02.png";
import IndexTree from "./IndexTree.vue";
import MenuMobile from "./Menu/MenuMobile.astro";
---

<header class="top-0 inset-x-0">
  <div class="flex md:items-center justify-between relative p-2.5 md:p-5 bg-miby-header-blue">
    <div class="flex items-end flex-wrap md:flex-nowrap">
      <p class="mr-[5px]">
        <a href="/"><img src={Logo1} alt="MIBY" /></a>
      </p>
      <p class="mr-[5px]">
        <a href="/"><img src={Logo2} alt="MIBY" /></a>
      </p>
      <p class="text-white text-xs w-full md:w-auto mt-2.5 md:mt-auto">
        未病データベースタイトル<br class="hidden md:block" />＆キャッチコピー
      </p>
    </div>
    <nav class="flex justify-end items-flex-start md:items-center">
      <div class="hidden md:block w-24 relative">
        <button class="btn-lang icons icon-lang text-sm text-white py-1 px-3">JP</button>
        <div class="link-lang absolute top-full mt-1 w-40 bg-white text-sm rounded hidden">
          <p class="px-3 py-1 text-white bg-miby-orange w-full rounded-tl rounded-tr">JP</p>
          <a class="block px-3 py-1 text-miby-black w-full" href="/en">EN</a>
        </div>
      </div>
      <button class="h-5 md:h-auto md:border md:py-1 pl-2 pr-2.5 rounded icons icon-logout">
        <span class="hidden md:inline-block text-white">ログアウト</span>
      </button>
      <button class="btn-sp-menu block md:hidden">
        <span class="inline-block h-[1px] w-full bg-white"></span>
        <span class="inline-block h-[1px] w-full bg-white"></span>
        <span class="inline-block h-[1px] w-full bg-white"></span>
      </button>
    </nav>
  </div>
  <IndexTree client:only="vue" />
  <MenuMobile />
</header>

<script is:inline>
  function fixedMenu() {
    var IndexTree = document.getElementById("IndexTree");
    var IndexTreeHeight = IndexTree?.offsetHeight;
    if (window.scrollY >= IndexTreeHeight) {
      IndexTree?.classList.add("scroll");
    } else {
      IndexTree?.classList.remove("scroll");
    }
  }

  window.addEventListener("load", fixedMenu);
  window.addEventListener("resize", fixedMenu);
  window.addEventListener("scroll", fixedMenu);

  document.querySelector(".btn-lang").addEventListener("click", () => {
    document.querySelector(".link-lang").classList.toggle("hidden");
  });

  var mobileMenuBtn = document.querySelector(".btn-sp-menu");
  mobileMenuBtn?.addEventListener("click", () => {
    mobileMenuBtn?.classList.toggle("active");
    if (mobileMenuBtn?.classList.contains("active")) {
      document.getElementById("MobileMenu").showModal();
      document.body.classList.add("overflow-hidden");
    } else {
      document.body.classList.remove("overflow-hidden");
    }
  });
</script>
